* {
	margin: 0;
	padding: 0;
}

// COLORS
// **************

@color-main-blue: #4597e9;
@color-orange: #f8872e;
@color-body: rgba(225,238,249,1);
@color-purple: #6753cf;
@color-grey: #ebeef2;
@color-light-purple: #8fa0ff;
@color-pink: #ce6df7;
@color-light-red: #ff7878;
@color-green: #8bc751;
@color-yellow: #fdca49;


// GENERAL STYLES
// **************

body {
	background: @color-body;
}

.wrapper {
	margin: 0 auto;
    max-width: 1180px;
}

input:focus {
	border: none;
}

p {
	font-family: arial;
	color: #5b5b5b;
}

 li, h1, h2, h3 {
	color: @color-main-blue;
	font-family: arial;
}


h1 {
	font-family: "Metaplus-bold-roman";
	font-size: 38px;
}

h2 {
	text-transform: uppercase;
	font-size: 20px;
}

h3 {
	font-size: 18px;
	color: @color-purple;
}

button {
	font-family: "Metaplus-bold-roman";
	font-size: 16px;
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

// HEADER
// **************

.top-line {
	background: @color-main-blue;
	height: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.logo {
	float: left;
	margin-left: 20px;
}

.search {
	float: right;
	.search-field {
		padding: 10px 20px;
    	border-radius: 8px;
    	border: none;
    	font-size: 16px;
    	margin: 6px 0;
	}
	.search-img {
		vertical-align: middle;
		padding: 7px;
    	background: linear-gradient(to top, #f7941d, #f8bb49);
    	border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		margin: 0 0 0 -25px;
	}

}

.orange-text {
	color: @color-orange;
}

.small-item {
	font-size: 15px;
	vertical-align: top;
}

.header-elements {
	margin: 35px 0;
}


// MENU
// **************

.top-menu {
	margin: 100px 0 30px 0;
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to top, #237de5, #4899ea);
    border-radius: 8px;

}

.top-menu li {
    float: left;
}

.dropdown-content {
	position: relative;
	z-index: 999;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
	color: @color-orange;
}

li.dropdown {
    display: inline-block;
	color: @color-orange;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: @color-body;
    color: @color-main-blue;
}

.dropdown-content a:hover {
	background-color: @color-body;
	color: @color-orange;
}

.dropdown:hover .dropdown-content {
    display: block;
}


// CONTENT
// *****************

.content {
	background: #fff;
	border-radius: 8px;
	display: inline-block;
}

.left-col {
	float: left;
	width: 60%;
	padding-left: 20px;
    padding-top: 20px;
}

.right-col {
	float: right;
}

.destaques {
	margin: 15px 0;
	height: 35px;
    background: @color-purple;
    border-radius: 8px;
    position: relative;
    h2 {
    	color: #fff;
    	padding: 6px 10px;
    }
}

.destaques::before, .destaques::after {
    content: ''; 
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid @color-purple;
   }
.destaques::after {
    border-top: 10px solid @color-purple;
    bottom: -19px; 
   }

.news-list {
	display: inline-block;
}

.news-list-left, .news-list-right {
	float: left;
	width: 50%;
	img {
		max-height: 250px;
    	max-width: 300px;
	}
	h3 {
		margin: 10px;
	}
	p {
		margin: 10px;
	}
}

.news-list-right {
	float: right !important;
}


.news-block-img {
	float: left;
	max-height: 100px;
    max-width: 150px;
}



.news-block  {
	border-top: 1px solid @color-purple; 
	padding: 17px 0;
	display: inline-block;
	img {
		padding: 10px 10px 10px 0;
	}
	h3 {
		padding: 8px 0 0 0;
	}
	p {
		padding: 8px 0 0 0;
	}
}


.button-area {
	background: @color-grey;
	border-radius: 12px;
}

.areaitem {
	display: inline-block;
	max-width: 70px;
	margin: 8px 12px;
	vertical-align: text-top;
	p {
		text-align: center;
		font-size: 10px;
		color: @color-main-blue;
	}
	img {
		padding: 12px;
		background: linear-gradient(to top, #f7941d, #f8bb49);
		border-radius: 12px;
	}

}

.some-content {
	margin: 15px 0 0 0 !important;
	.destaques;
	background: @color-light-purple;	
}

.some-content::before, .some-content::after {
    content: ''; 
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid @color-light-purple;
   }
.some-content::after {
    border-top: 10px solid @color-light-purple;
    bottom: -19px; 
   }

.text {
	padding: 15px;	
	p {
		margin-top: 10px;
		color: @color-main-blue ;
	}
}


.buttons-for-pages {
	margin: 10px 0;
}

.buttons-next {
	display: inline-block;
	padding: 6px 10px;
	background: @color-grey;
	margin-right: 22px; 
	border-radius: 12px;

	select, h3, p {
		display: inline-block;
		margin-right: 10px;
		color: #849db8; 
	}
	img {
		position: relative;
    	left: 20%;
	}
}


.buttons-next-items {
	margin-left: 10px; 
}


select {
	width: 40px;
	height: 20px;
    border-radius: 10px;
    background: url(img/arrow-down.png) no-repeat right #fff;
    -webkit-appearance: none;   
}

.col-6 {
	width: 40%;
}

.col-4 {
	width: 20%;
}


// RIGHT COL *********************

.right-col {
	padding: 5px 20px;
    width: 32%;
}

.color-pink {
	background: @color-pink;
}

.color-pink::before {
	border-top: 10px solid @color-pink;
}

.color-pink::after {
	border-top: 10px solid @color-pink;
}

.input-area {
		text-align: center;
	.button-area;
	p {
		color: #5b5b5b;
	}
}


.form-control {
	display: block;
    width: 80%;
    margin: 10px 7%;
    max-width: 300px;
    min-width: 100px;
    padding: 3px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #666666;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.button_top {
	border: none;
    background-color: #9662a8;
    color: #fff;
    padding: 5px 16px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
}


.color-light-red {
	background: @color-light-red;
}

.color-light-red::before {
	border-top: 10px solid @color-light-red;
}

.color-light-red::after {
	border-top: 10px solid @color-light-red;
}


.input-rules {
	.input-area;
	text-align: left !important;
}


// не знаю КАК СДЕЛАТЬ 

.elems-center {
	padding: 10px 0;
	border-bottom: 1px solid @color-light-red;
}

.rules-big {
	color: @color-light-red !important;
	font-size: 30px;
	margin: 0 5px 0px 0;
}

.rules-red {
	color: @color-light-red !important;
	font-size: 16px;
	font-weight: bold;
}

// КОНЕЦ

.input-icons {
	position: relative;
	.input-area;
	padding: 58px 65px;
}

.color-green {
	background: @color-green;
}

.color-green::before {
	border-top: 10px solid @color-green;
}

.color-green::after {
	border-top: 10px solid @color-green;
}


.navlist li {
    margin: 40px 65px;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}


.navlist li, .navlist a {
    height: 36px;
    display: block;
}

.letter {
    left: 0px;
    width: 37px;
    background: url('img/icons.png');
}

.letter {
    left: 0px;
    width: 37px;
    background: url('img/icons.png');
}

.rss {
	.letter;
	width: 79px;
}

.in {
	.letter; 
	width: 122px;	
}

.ors {
	.letter;
	width: 165px;
}

.twitter {
	.letter;
	width: 208px;
}

.youtube {
	.letter;
	width: 247px;
}


.color-yellow {
	background: @color-yellow;
}

.color-yellow::before {
	border-top: 10px solid @color-yellow;
}

.color-yellow::after {
	border-top: 10px solid @color-yellow;
}


.input-words {
	p {
		padding: 20px;
		color: #ee8f00 !important;
		line-height: 1.4em;
	}
	.input-area;
}

.word-med {
	font-size: 22px;
}

.word-big {
	font-size: 26px;
}


// FOOTER **********************************

footer {
	position: relative;
	bottom: 0;
	background: #3368bd;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 20px; 
	h1 {
		padding: 20px 0 0 20px;
	}
}

.bottom-menu {
	border-bottom: 1px solid @color-main-blue;
	margin-bottom: 15px; 
}

.tabs-bottom {
	display: inline-block;
	margin: 20px 20px;
	vertical-align: text-top;
	font-size: 14px;
	h3 {
		color: #fff !important;
	}
	ul {
		background: none;
	}
	li {	
		color: #fff !important;
		margin-left: 20px; 
	}
}

.copy {
	display: inline-block;
	float: left;
	
	p {
		color: #fff !important;
	}
}

.down-elems {
	overflow: auto;
	padding: 40px 20px;
}

.up {
	display: inline-block;
	float: right;
}

.button_totop {
	.button_top;
	background: #a5c9eb;
	width: 100px;
}



/* --------------------- Slider ----------------------*/

#slideshow-wrap {
    display: block;
    height: 320px;
    min-width: 360px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    position: relative;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner>ul>li {
    width: 20%;
    height: 340px;
    float: left;
    position: relative;
}

#slideshow-inner>ul>li>img {
    margin: auto;
    height: 100%;
	width: 100%;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 50%;
    bottom: 25px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200,200,200,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slideshow-wrap label:not(.arrows):active { bottom: 26px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(255,153,0,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(255, 153, 0,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(255, 153, 0,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(255, 153, 0,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(255, 153, 0,1) }

#slideshow-wrap label[for=button-1] { margin-left: -36px }

#slideshow-wrap label[for=button-2] { margin-left: -18px }

#slideshow-wrap label[for=button-4] { margin-left: 18px }

#slideshow-wrap label[for=button-5] { margin-left: 36px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }

label.arrows {
    font-family: 'WebSymbolsRegular';
    font-size: 25px;
    color: rgb(255,255,240);
    position: absolute;
    top: 50%;
    margin-top: -15px;
    display: none;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 0px 0px 3px rgba(0,0,0,.8);
}