#clock {
  position: relative;
  width: 600px;
  height: 450px;
  margin: 20px auto 0 auto;
  background: url(../img/1.png) 35% 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  list-style: none;
}

#sec, #min, #hour {
  position: absolute;
  width: 30px;
  height: 450px;
  top: 0px;
  left: 285px;
}

#sec {
  background: url(../img/4.png) 75%;
  background-size: 80%;
  background-repeat: no-repeat;
}
   
#min {
  background: url(../img/3.png) 75%;
  z-index: 2;
  background-size: 80%;
  background-repeat: no-repeat;
}
   
#hour {
  background: url(../img/2.png) 75%;
  z-index: 1;
  background-size: 80%;
  background-repeat: no-repeat;
}


// Анимация


  @keyframes meteor-animation {
    0% {
      right: 0px;
      top: 0px;
    }
    100% {
      right: calc(100%);
      top: calc(100%); 
    }
  }

  @-webkit-keyframes meteor-animation {
    0% {
      right: 0px;
      top: 0px;
    }
    100% {
      right: calc(100%);
      top: calc(100%); 
    }
  }


#meteor {
    animation: meteor-animation 6s infinite;
    -webkit-animation: meteor-animation 6s infinite;
    position: absolute;
  }