.toDoApp {
	display: flex;
	margin: 50px 100px;
}

.appForm input {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 10px 0 5px 10px;
    font-size: 18px;
    color: #787474;
    width: 100%;
}

#itemList {
    margin: 15px 0 0 200px;
}

.items {
	margin: 0 0 20px 0;
}

h1 {
    font-family: "Verdana";
    color: #696969;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1.7;
    font-weight: normal;
    margin: 10px 0 30px 0;
}

h2 {
    font-family: "Verdana";
    color: #696969;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1.7;
    font-weight: normal;
    margin: 10px 0 30px 0;
}

p {
    font-family: "Verdana";
    color: #787474;
    margin: 5px 0 0 0;
}

.button-red {
    border: none;
    font-family: "Verdana";
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
    width: 150px;
    padding: 9px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    margin: 10px 0;

}

.button-red:active {
    box-shadow: 0px 8px 17px 0px #460202 inset;
}


.button-green[disabled] {
	cursor: not-allowed;
    opacity: .7;
    box-shadow: none;
}


.button-green {
    border: none;
    font-family: "Verdana";
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    width: 150px;
    padding: 9px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    margin: 10px 0;

}

.button-green:active {
    box-shadow: 0px 8px 17px 0px #1C4A27 inset;
}



.appForm span {
	color: red;
}


input[type="checkbox"] {
    display: none;
}

.records {
    padding: 15px;
    cursor: pointer;
}

.strike {
    background: #f2f2f2;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 14px;
}

select {
    margin: 10px 0;
    min-width: 100px;
}

.tabs a {
   color: #636363;
    background: #ddd;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: verdana;
    border: 2px solid #efefef;
    font-size: 20px;
    border-radius: 5px;
}

label {
    font-weight: normal;
    display: block;
}

strong {
    font-weight: 600;
}

.tabs .link-active {
    background: #2CC185;
    color: #fff;
    transition: .2s all;
}

.main-nav {
    margin: 10px 15px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 10px 5px 0 0;
}

.counter {
    margin: 5px 0 10px 0;
}

.posts {
    margin: 50px;
    text-align: center;
}

.site-wrap {
    margin: 60px 50px;
    text-align: center;
}


.site-wrap img {
    max-width: 700px;
    max-height: 500px;
}

.maps-time {
    display: flex;
    align-items: center;
}

.maps iframe {
    height: 450px;
    width: 550px;
}

.tabs-center {
    display: flex;
    justify-content: center;
}