@font-face {
	font-family: "RajdhaniBold";
	src: url("../fonts/rajdhani.bold.ttf") format("truetype");
}

@font-face {
	font-family: "RajdhaniMedium";
	src: url("../fonts/rajdhani.medium.ttf") format("truetype");
}

@font-face {
	font-family: "RajdhaniRegular";
	src: url("../fonts/rajdhani.regular.ttf") format("truetype");
}

@font-face {
	font-family: "RajdhaniSemibold";
	src: url("../fonts/rajdhani.semibold.ttf") format("truetype");
}

@font-face {
	font-family: "slick";
	src: url("../fonts/slick.ttf") format("truetype");
}
