* {
  padding: 0;
  margin: 0; }

section {
  margin: 0 auto; }

.container {
  width: 1000px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

a {
  font-family: "RajdhaniSemibold";
  text-decoration: none;
  font-size: 18px; }

p {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  margin: 10px 0 0 0; }

h1 {
  font-family: "RajdhaniBold";
  color: #fff;
  text-transform: uppercase;
  font-size: 40px; }

h2 {
  font-family: "RajdhaniBold";
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.7;
  font-weight: normal;
  margin: 5px 0; }

h3 {
  font-family: "RajdhaniRegular";
  text-transform: uppercase;
  font-weight: normal;
  color: #393939;
  font-size: 24px;
  letter-spacing: 1.7; }

h4 {
  color: #fff;
  font-family: "Courier New Regular";
  font-size: 31px;
  font-weight: normal;
  text-transform: uppercase; }

h5 {
  font-family: "RajdhaniMedium";
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase; }

h6 {
  font-family: "RajdhaniSemibold";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 23px; }

li {
  font-family: "RajdhaniRegular";
  list-style: none;
  font-size: 20px;
  color: #fff; }

.top-elems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.top {
  height: 100px;
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.logo-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.maian_mnu {
  color: #fff; }
  .maian_mnu a {
    padding: 15px;
    color: #fff;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    -webkit-transition: all .25s;
    transition: all .25s;
    letter-spacing: 1.2; }
    .maian_mnu a:hover {
      color: #6b30ff; }
  .maian_mnu ul {
    display: none;
    background-color: #b1b1b1;
    position: absolute;
    width: 37%;
    left: 0;
    z-index: 999;
    margin: -50px 0 0 0;
    border: 3px solid #000;
    min-width: 185px; }
    .maian_mnu ul li {
      display: block; }

.main_mnu_button {
  background-color: transparent;
  border: medium none;
  font-size: 26px;
  color: #fff;
  padding: 8px 15px 0; }

.main_mnu_button {
  cursor: pointer;
  padding: 15px;
  outline: none; }

.top-hover-menu {
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5 10px; }

.top-hover-menu-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.top-hover-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 10px 0 0; }

.top-hover-search-left {
  margin: 0 5px 0 0;
  width: 65%; }
  .top-hover-search-left input {
    padding: 5px 0 5px 20px;
    text-align: left;
    color: #585858;
    font-family: "RajdhaniMedium"; }

.top-hover-search-right {
  background-color: #000;
  padding: 5px;
  cursor: pointer; }

.categoty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0;
  margin: 5px 0 0 0;
  background-color: #fff;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.categoty-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.categoty-left h5 {
  font-size: 20pt;
  color: #373737;
  margin: 5px 0 0 0; }

.categoty-right, .categoty-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0; }

.categoty-left {
  margin: 0 0 0 25%; }

.categoty-right {
  cursor: pointer; }
  .categoty-right img {
    padding: 10px; }

.categories-pre {
  background-color: #000;
  position: absolute;
  width: 100%;
  margin: 10px 0 -10px 0;
  left: 0;
  z-index: 999;
  display: none;
  position: relative; }

.category-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.category-child-left {
  margin: 0 0 0 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .category-child-left h5 {
    font-size: 20pt;
    color: #fff;
    margin: 5px 0 0 0; }

.category-child-right {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0; }

.second_mnu_button {
  outline: none; }

.second_mnu ul {
  display: none;
  background-color: #b1b1b1;
  position: absolute;
  width: 37%;
  left: inherit;
  right: 0;
  z-index: 999;
  margin: -57px 0 0 0;
  border: 3px solid #000;
  min-width: 185px; }

.second_mnu_button {
  cursor: pointer;
  padding: 15px;
  background-color: transparent;
  border: medium none;
  font-size: 26px;
  color: #fff; }

.second-menu .categoty {
  padding: 0;
  margin: 2px 0; }

.second-menu .categoty-left {
  margin: 0; }

.propose {
  background-color: #c5c5c5;
  text-align: center; }
  .propose h2 span {
    font-family: "RajdhaniMedium"; }

.second-cat-info-top {
  color: #000; }

.second-cat-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.square {
  padding: 10px;
  background-color: #000;
  display: inline-block; }

.second-cat-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0 10px; }

.second-cat-info-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.icon-2 {
  margin: 0 5px;
  background-color: #d1d1d1;
  padding: 0px 5px; }
  .icon-2 h2 {
    color: #000;
    font-size: 17px; }

.icon-1 {
  padding: 10px 8px;
  border: 1px solid #000;
  cursor: pointer; }

.icon-3 {
  padding: 7px 7px;
  border: 1px solid #000;
  cursor: pointer; }

.bucket-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0 10px 0 0; }

.bucket-right-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .bucket-right-top img {
    padding: 7px 10px;
    border: 1px solid #000;
    cursor: pointer; }

.bucket-right-bottom {
  margin: 0px 0 -10px 0px; }

.second-search-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.second-search-last-left {
  margin: 0 0 0 10px; }
  .second-search-last-left h5 {
    color: #000; }

.second-search-last-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.second-search-last-right {
  margin: 0 10px 0 0; }

.second-search-last-left-text {
  background-color: #fff;
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .second-search-last-left-text h2 {
    color: #b3b3b3; }

.second-search-last-right-text {
  background-color: #000;
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .second-search-last-right-text h2 {
    color: #fff;
    font-size: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3px 10px 0 10px; }

.second-search-last-right-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.spleater {
  margin: 50px; }

.second-categoty-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider {
  background-color: #f8f7f3; }

.top-slider {
  height: 200px; }

.slider-item img {
  height: 100%;
  margin: 0 auto; }

.slider-item-text {
  position: absolute;
  top: 40%;
  left: 23%;
  text-align: center; }
  .slider-item-text h1 {
    color: #000;
    font-size: 46px;
    border-bottom: 2px solid #000;
    padding: 0 0 5px 0; }
    .slider-item-text h1 span {
      font-family: "RajdhaniRegular";
      margin: 0 0 0 10px; }
  .slider-item-text h4 {
    color: #000;
    margin: 5px 0 0 0; }
  .slider-item-text h5 {
    display: inline-block;
    color: #000;
    margin: 40px 0 0 0;
    padding: 7px 15px;
    border: 2px solid #000; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.top, .propose, .slider {
  margin: 0; }

.head-items {
  background-color: #fff;
  text-align: center;
  margin: 30px 0; }

.head-items-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .head-items-logo h3 {
    margin: 0 10px; }

.left-img, .right-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.products {
  margin: 0 0 40px 0; }

.second-slider .slider-item {
  height: 320px;
  text-align: center; }
  .second-slider .slider-item img {
    height: 270px; }
  .second-slider .slider-item h3 {
    color: #888888;
    font-size: 20px;
    text-decoration: line-through; }
  .second-slider .slider-item h6 {
    color: #000; }

.slider-item-block img {
  margin: 0 auto; }

button.slick-arrow {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0; }

.right-img {
  right: -25px; }

.left-img {
  left: -15px; }

.second-slider-icon {
  margin: 30px auto 0; }

.slider-item-block-hover {
  position: relative; }

.for-text {
  position: absolute;
  visibility: collapse;
  bottom: 1px;
  left: 12%;
  padding: 7px 29px;
  background: rgba(0, 0, 0, 0.6); }
  .for-text h6 {
    color: #fff !important; }
  .for-text:hover {
    visibility: visible; }

.img-wrapper {
  position: relative;
  cursor: pointer; }
  .img-wrapper:hover {
    background-color: #000; }
    .img-wrapper:hover img {
      opacity: .5; }

.text-wrapper {
  color: #fff;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.text-wrapper-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .text-wrapper-head h6 {
    font-size: 46px; }

.mail {
  margin: 40px 0; }

.mail-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.left-mail {
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
  position: relative;
  text-align: center; }
  .left-mail::after {
    content: '';
    position: absolute;
    right: -43px;
    top: -1px;
    border: 28px solid transparent;
    border-left: 15px solid #000; }

input {
  outline: none;
  font-size: 15px;
  border: 2px solid #d0d0d0;
  text-align: center;
  width: 100%; }

.right-mail {
  background-color: #d0d0d0;
  color: #000;
  padding: 15px 25px;
  border-bottom: 3px solid #4f5052;
  cursor: pointer;
  text-align: center; }

.input-first {
  margin: 0 5px 0 25px; }

.input-second {
  margin: 0 15px 0 10px; }

footer {
  background-color: #000;
  margin: 50px 0 0 0;
  padding: 15px; }

.foot-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.foot-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .foot-menu ul li {
    margin: 0 10px;
    cursor: pointer; }

.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.icon {
  cursor: pointer;
  margin: 0 5px; }

.mobile-footer-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }

.body-shadow {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: .6; }
