/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .container {
    width: 730px; }
  .top-slider {
    height: 400px; }
  .column img {
    height: 260px; }
  .third-slider .slider-item img {
    height: 135px; }
  .categoty-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .bucket-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 10px 0 0;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .propose h2 {
    font-size: 10.5pt; }
  .slider-item-text {
    position: absolute;
    top: 40%;
    left: 21%;
    text-align: center; }
    .slider-item-text h1, .slider-item-text h4, .slider-item-text h5 {
      font-size: 1.5em; }
  .slick-dots {
    bottom: 40px; }
  button.slick-arrow {
    top: 44%; }
  .text-wrapper-head h6 {
    font-size: 20pt; }
  .mobile-footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    display: none; }
  .propose {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .slider {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .top {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .third-slider .slider-item img {
    max-width: 100%;
    height: 135px; }
  .third-slider .img-wrapper {
    margin: 0 10px; }
  .third-slider .text-wrapper h6 {
    visibility: hidden; }
  .third-slider .text-wrapper .third-wrapper img {
    visibility: hidden; }
  .third-slider .text-wrapper:hover .text-wrapper-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .third-slider .text-wrapper:hover h6 {
    font-size: 20px;
    visibility: hidden; }
  .third-slider .text-wrapper:hover .third-wrapper {
    margin: 0 0 15px 0; }
    .third-slider .text-wrapper:hover .third-wrapper img {
      height: 29px !important;
      visibility: hidden; }
  .fourth-slider .slider-item img {
    max-width: 100%;
    height: 170px; }
  .fourth-slider .img-wrapper {
    margin: 0 10px; }
  .fourth-slider .text-wrapper h6 {
    visibility: hidden; }
  .fourth-slider .text-wrapper .fourth-wrapper img {
    visibility: hidden; }
  .fourth-slider .text-wrapper:hover .text-wrapper-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .fourth-slider .text-wrapper:hover h6 {
    font-size: 20px;
    visibility: hidden; }
  .fourth-slider .text-wrapper:hover .fourth-wrapper {
    margin: 0 0 15px 0; }
    .fourth-slider .text-wrapper:hover .fourth-wrapper img {
      height: 29px !important;
      visibility: hidden; } }

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1180px; }
  .column img {
    height: 400px; }
  .logo-icon img {
    width: 120%; }
  .top-slider {
    height: 700px; }
  .third-slider .slider-item img {
    height: 220px; }
  .propose h2 {
    font-size: 12pt; }
  .slider-item-text {
    position: absolute;
    top: 40%;
    left: 23%;
    text-align: center; }
    .slider-item-text h1, .slider-item-text h4, .slider-item-text h5 {
      font-size: 2.2em; }
  .slick-dots {
    bottom: 40px; }
  button.slick-arrow {
    top: 44%;
    margin: 0 10px; }
  .text-wrapper-head h6 {
    font-size: 33pt; }
  .mobile-footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    display: none; }
  .third-slider .slider-item img {
    max-width: 100%; }
  .third-slider .img-wrapper {
    margin: 0 10px; }
  .third-slider .text-wrapper h6 {
    visibility: hidden; }
  .third-slider .text-wrapper .third-wrapper img {
    visibility: hidden; }
  .third-slider .text-wrapper:hover .text-wrapper-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .third-slider .text-wrapper:hover h6 {
    font-size: 20px;
    visibility: visible;
    opacity: 1; }
  .third-slider .text-wrapper:hover .third-wrapper {
    margin: 0 0 15px 0; }
    .third-slider .text-wrapper:hover .third-wrapper img {
      height: 29px !important;
      visibility: visible;
      opacity: 1; }
  .fourth-slider .slider-item img {
    max-width: 100%; }
  .fourth-slider .img-wrapper {
    margin: 0 10px; }
  .fourth-slider .text-wrapper h6 {
    visibility: hidden; }
  .fourth-slider .text-wrapper .fourth-wrapper img {
    visibility: hidden; }
  .fourth-slider .text-wrapper:hover .text-wrapper-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .fourth-slider .text-wrapper:hover h6 {
    font-size: 20px;
    visibility: visible;
    opacity: 1; }
  .fourth-slider .text-wrapper:hover .fourth-wrapper {
    margin: 0 0 15px 0; }
    .fourth-slider .text-wrapper:hover .fourth-wrapper img {
      height: 29px !important;
      visibility: visible;
      opacity: 1; }
  .fourth-slider .slider-item img {
    height: 285px; } }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 5%; }
  .column img {
    height: 210px; }
  .propose h2 {
    font-size: 10px; }
  .logo {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px 7px 0 0;
    text-align: center; }
    .logo h1 {
      font-size: 23px; }
  .slider-item-text {
    position: absolute;
    top: 40%;
    left: 23%;
    text-align: center; }
    .slider-item-text h1, .slider-item-text h4, .slider-item-text h5 {
      font-size: 0.7em; }
    .slider-item-text h5 {
      margin: 15px 0 0 0; }
  .slick-dots {
    bottom: 10px !important; }
  .head-items-logo h3 {
    font-size: 14px; }
  .right-img, .left-img {
    width: 15%; }
  button.slick-arrow {
    top: 43%;
    margin: 0 -10px; }
  .text-wrapper-head h6 {
    font-size: 20pt; }
  .mail-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .left-mail::after {
    border: none; }
  .input-first, .input-second {
    margin: 5px 0 0 0;
    padding: 10px 0; }
  .right-mail {
    margin: 5px 0 0 0;
    padding: 10px 25px; }
  .mobile-footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    display: block; }
  footer {
    display: none; }
  .categoty-left h5, .category-child-left h5 {
    font-size: 20px; }
  .second-search-last-last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .second-search-last-left-text, .second-search-last-right-text {
    width: 100%; }
  .propose {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .slider {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .top {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .third-slider .slider-item img {
    height: 135px; }
  .third-slider .slider-item img {
    width: 100%;
    height: auto; }
  .third-slider .img-wrapper {
    margin: 0 10px; }
  .third-slider .text-wrapper h6 {
    visibility: hidden; }
  .third-slider .text-wrapper .third-wrapper img {
    visibility: hidden; }
  .third-slider .text-wrapper:hover .text-wrapper-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .third-slider .text-wrapper:hover h6 {
    font-size: 20px;
    visibility: hidden; }
  .third-slider .text-wrapper:hover .third-wrapper {
    margin: 0 0 15px 0; }
    .third-slider .text-wrapper:hover .third-wrapper img {
      height: 29px !important;
      visibility: hidden; }
  .third-slider .slick-slide img {
    opacity: .5; }
  .third-slider .slick-current img {
    opacity: 1; }
  .fourth-slider .slider-item img {
    width: 100%;
    height: auto; }
  .fourth-slider .slider-item img {
    max-width: 100%; }
  .fourth-slider .img-wrapper {
    margin: 0 10px; }
  .fourth-slider .text-wrapper h6 {
    visibility: hidden; }
  .fourth-slider .text-wrapper .fourth-wrapper img {
    visibility: hidden; }
  .fourth-slider .text-wrapper:hover .text-wrapper-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .fourth-slider .text-wrapper:hover h6 {
    font-size: 20px;
    visibility: hidden; }
  .fourth-slider .text-wrapper:hover .fourth-wrapper {
    margin: 0 0 15px 0; }
    .fourth-slider .text-wrapper:hover .fourth-wrapper img {
      height: 29px !important;
      visibility: hidden; }
  .fourth-slider .slick-slide img {
    opacity: .5; }
  .fourth-slider .slick-current img {
    opacity: 1; }
  .second-categoty-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .bucket-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 10px 0 0 0;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .maian_mnu ul, .second_mnu ul {
    width: 100%; } }

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
