﻿@{
    ViewBag.Title = "Home Page";
}

@if (IsPost)
{
    <h3>@Html.Encode(ViewBag.Result)</h3>
}
else
{

    using (Html.BeginForm())
    {

        <div class="col-md-12 cent">
            <h2>@ViewBag.Message</h2>
            <p>Введите 1 число @Html.TextBox("a") </p>
            <p>Введите 2 число @Html.TextBox("b") </p>
            <p>
                Действие: @Html.DropDownList("act", new[] {
            new SelectListItem { Text = "Сложить", Value = "1" },
            new SelectListItem { Text = "Отнять",  Value = "2"},
            new SelectListItem { Text = "Умножить",  Value = "3"},
            new SelectListItem { Text = "Поделить",  Value = "4"}
            })
            </p>

            <input type="submit" value="Рассчитать" class="button_add" />
        </div>
    }

}