@font-face {
	font-family: "Metaplusbook-roman";
	src: url("../fonts/Metaplusbook-roman.ttf") format("truetype");
}

@font-face {
	font-family: "Metaplus-bold-roman";
	src: url("../fonts/Metaplus-bold-roman.ttf") format("truetype");
}

@font-face {
	font-family: "Arial-monospaced-mt";
	src: url("../fonts/Arial-monospaced-mt.ttf") format("truetype");
}

@font-face {
	font-family: "Gotham-black";
	src: url("../fonts/Gotham-black.ttf") format("truetype");
}

@font-face {
	font-family: "Good-times";
	src: url("../fonts/Good-times.ttf") format("truetype");
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("../fonts/OpenSans-CondBold.ttf") format("truetype");
}

@font-face {
	font-family: "OpenSans-Light";
	src: url("../fonts/OpenSans-CondLight.ttf") format("truetype");
}

@font-face {
	font-family: "OpenSans-LightItalic";
	src: url("../fonts/OpenSans-CondLightItalic.ttf") format("truetype");
}

@font-face {
	font-family: "OpenSans-Regular";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}