/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.container {
		width: 900px;
	}


	.com-img-1, .com-img-2 {
		max-width: 90%;
		margin: 10px auto !important;
	}

	.company-images {
		flex-direction: column;
	}


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.container {
		width: 768px;
	}
		
	.logo-bg {
		display: none;
	}

	.table-item {
		width: 14%;
	}

	.maian_mnu ul {
		display: none;
		position: absolute;
		z-index: 998;
		width: 100%;
		background: #f7ffff;
	}
	.maian_mnu ul li {
		display: flex;
		cursor: pointer;
	}	
	.maian_mnu ul li a {
		padding: 0 0 0 20px;
	}
	 .li-last {
		padding: 10px 0 15px 0 !important;
	}

	.top-img-right-content {
		display: none;
	}

	.second-mnu {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.container {
		width: 480px;
	}

	.table-item {
		width: 25%;
	}


	.adaptive-1, .adaptive-2 {
		width: 100% !important;
		margin: 10px -20px !important;
		display: flex;
    	justify-content: center;
	}

	.adaptive {
		flex-direction: column;
		justify-content: center;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.container {
		width: 320px;
	}

	.table-item {
		width: 40%;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.container {
		width: 280px;
	}

	.table-item {
		width: 80%;
	}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main_mnu_button {
		display: none;
	}

	.maian_mnu ul {
		display: block !important;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}