* {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
section {
  max-width: 1920px;
  margin: 30px auto;
}
.container {
  width: 1100px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
a {
  color: #8a8f92;
  font-family: "OpenSans-Light";
  text-decoration: none;
  font-size: 16px;
}
p {
  color: #8a8f92;
  font-family: "OpenSans-Regular";
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0 0 0;
}
h1 {
  color: fff;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  font-size: 40px;
  word-wrap: break-word;
}
h2 {
  color: #99d6d0;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  font-size: 28px;
  margin: 10px 0 0 0;
}
h3 {
  color: #8a8f92;
  font-family: "OpenSans-Light";
  text-transform: uppercase;
  font-size: 22px;
  margin: 10px 0 0 0;
}
h4 {
  color: #636567;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
}
h5 {
  color: #99d6d0;
  font-family: "OpenSans-LightItalic";
  font-size: 20px;
  letter-spacing: 1.3;
}
li {
  list-style: none;
  margin: 10px 0 0 0;
  color: #2a2a2a;
  font-family: "OpenSans-Regular";
  font-size: 16px;
}
.top-bg {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.logo {
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  max-width: 100%;
  height: 97px;
}

.logo-bg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  position: relative;
}
.logo-bg img {
  width: 100%;
}
.logo-img {
  margin: 10px 40px 0 -180px;
  padding: 0 0 15px 0;
}
.menu-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menu {
  background-image: url(../img/Nav-Container.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 86%;
  max-width: 100%;
}
.top-menu {
  text-decoration: none;
  margin: 0 0 0 40px;
  width: 100%;
}
.top-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.top-menu ul li {
  text-align: center;
  margin: 0 7% 0 0;
  padding: 20px 0 0 0;
}
.top-menu ul li a {
  font-size: 17px;
}
.top-menu ul li:hover {
  background: url(../img/Active-Nav-Bar.png) center top;
  background-size: 100% 10px;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all .3s;
          transition: all .3s;
}
.li-last {
  margin: 0 !important;
}
.second-mnu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  width: 75%;
  background-image: url(../img/Grey-nav.png);
  background-repeat: no-repeat;
  height: 44px;
}
.second-menu {
  width: 100%;
  height: 44px;
}
.second-menu li {
  padding: 10px 0 0 0 !important;
}
.second-menu li:hover {
  background: none !important;
}
.second-menu a {
  color: #fff;
}
.second {
  margin: 0 0 0 25%;
}
.top-img {
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -145px 0 0 0;
  position: relative;
}
.top-img .top-img-left {
  width: 100%;
}
.top-img .top-img-left img {
  max-width: 100%;
}
.top-img .top-img-right {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 60%;
  overflow: hidden;
}
.top-img .top-img-right img {
  width: 100%;
}
.top-img-right-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 998;
  position: absolute;
  margin: 0 10% 0 0;
  top: 50%;
  right: 0;
}
.top-img-right-content a {
  color: #fff;
  font-size: 45px;
  text-align: center;
}
.top-elems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.maian_mnu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.maian_mnu ul {
  float: left;
}
.maian_mnu ul li {
  display: inline-block;
}
.main_mnu_button {
  background-color: transparent;
  border: medium none;
  font-size: 26px;
  color: #fff;
  padding: 8px 15px 0;
}
.main_mnu_button {
  cursor: pointer;
  padding: 15px;
  position: absolute;
  right: 0;
  z-index: 999;
}
.about-company {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}
.about-company .container ul {
  margin: 10px;
}
.about-company .container ul li {
  list-style-image: url(../img/list.png);
}
.about-company .container a {
  font-family: "OpenSans-Regular";
}
.about-company-text {
  margin: 20px 0 0 0;
}
.company-images {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.company-images .com-img-1 {
  margin: 0 10px 0 0;
}
.company-images .com-img-2 {
  margin: 0 0 0 10px;
}
.purpose {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 0;
}
.purpose-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.purpose-right p {
  color: #2a2a2a;
  margin: 0 0 0 30px;
}
.more-info {
  margin: 20px 0 0 0;
}
.more-info p {
  font-family: ;
}
.statistic {
  background: #99d6d0;
}
.statistic h2 {
  color: #636567;
}
.statistic p {
  color: #636567;
}
.statistic-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 0 0;
}
.table-item {
  border: 2px solid #636567;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 5px 10px 0;
  width: 11%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.table-item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.table-item-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 63px;
}
.table-item-top {
  margin: 10px 0 0 0;
}
.table-item-top p {
  margin: 0;
  font-size: 14px;
}
.table-item-bottom {
  margin: 10px 0 0 0;
}
.price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 0;
}
.price .table-item {
  width: 45%;
  padding: 20px;
  border: 2px solid #99d6d0;
}
.price .table-item h1,
.price .table-item h3,
.price .table-item h4 {
  color: #636567;
}
.big-img {
  margin: 20px 0 0 0;
}
.big-img img {
  max-width: 100%;
}
.result {
  background: #99d6d0;
  margin: 30px auto 0 auto;
}
.result-text h2,
.result-text h4,
.result-text p {
  color: #2a2a2a;
}
.result-text h4 {
  margin: 10px 0 0 0;
}
.result-text li {
  list-style-image: url(../img/Bullets.png);
  margin: 5px 0 0 25px;
}
.statistic,
.result {
  padding: 60px 0;
}
footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.foot-item {
  background: #99d6d0;
  margin: 0 -10px 0 0px;
  position: relative;
}
.foot-item img {
  max-width: 100%;
}
.foot-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.foot-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 35%;
  left: 30%;
}
.foot-bottom h2 {
  font-size: 18px;
  color: #99d6d0;
  margin: 0;
}
.foot-bottom h3 {
  font-size: 20px;
  color: #99d6d0;
  margin: 0;
  text-transform: none;
}
.end {
  margin: 0 auto;
  max-width: 1920px;
}
.top {
  margin: 0 auto;
  max-width: 1920px;
}
