@import "vars";


// ******* MAIN SETTINGS ************

* {
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
}

section {
	max-width: 1920px;
	margin: 30px auto;
}

.container {
	width: 1100px;
	max-width: 100%;
	margin-right: auto;
    margin-left: auto;
	display: flex;
	flex-direction: column;
}

a {
	color: @color-light-grey;
	font-family: "OpenSans-Light";
	text-decoration: none;
	font-size: 16px;
}

p {
	color: @color-light-grey;
	font-family: "OpenSans-Regular";
	font-size: 16px;
    line-height: 1.5;
    margin: 10px 0 0 0;
}

h1 {
	color: fff;
	font-family: "OpenSans-Bold";
	text-transform: uppercase;
	font-size: 40px;
	word-wrap: break-word;

}

h2 {
	color: @color-light-blue;
	font-family: "OpenSans-Bold";
	text-transform: uppercase;
	font-size: 28px;
	margin: 10px 0 0 0;
}

h3 {
	color: @color-light-grey;
	font-family: "OpenSans-Light";
	text-transform: uppercase;
	font-size: 22px;
	margin: 10px 0 0 0;
}

h4 {
	color: @color-medium-grey;
	font-family: "OpenSans-Bold";
	text-transform: uppercase;
}

h5 {
	color: @color-light-blue;
	font-family: "OpenSans-LightItalic";
	font-size: 20px;
    letter-spacing: 1.3;
}

li {
	list-style: none;
	margin: 10px 0 0 0;
	color: @color-dark-grey;
	font-family: "OpenSans-Regular";
	font-size: 16px;
}



// ************ TOP-BG *****************

.top-bg {
	padding: 0;
	display: flex;
	justify-content: flex-start;
}

.logo {
	background-repeat: no-repeat;
	display: flex;
	width: 30%;
    max-width: 100%;
    height: 97px;
}

.logo-bg {
	display: flex;
	z-index: 999;
    position: relative;
	img {
		width: 100%;
	}
}

.logo-img {
	margin: 10px 40px 0 -180px;
	padding: 0 0 15px 0;
}

.menu-wrapper {
	display: flex;
}

.menu {
	background-image: url(../img/Nav-Container.png);
	background-repeat: no-repeat;
	display: flex;
	width: 86%;
    max-width: 100%;
}





// ******** MENU ************



.top-menu {
	text-decoration: none;
	margin: 0 0 0 40px;
	width: 100%;
	ul {
		display: flex;
		width: 100%;
		li {
			text-align: center;
			margin: 0 7% 0 0;
			padding: 20px 0 0 0;
			a {
				font-size: 17px;
			}
			 &:hover {
			 	background: url(../img/Active-Nav-Bar.png) center top;
			 	background-size: 100% 10px;
			 	background-repeat: no-repeat;
			 	position: relative;
			 	transition: all .3s;
			 }
		}

	}
}

.li-last {
	margin: 0 !important;
}

.second-mnu {
	display: flex;
    position: absolute;
    right: 0;
    width: 75%;
    background-image: url(../img/Grey-nav.png);
    background-repeat: no-repeat;
    height: 44px;
}

.second-menu {
	width: 100%;
    height: 44px;
	li {
		padding: 10px 0 0 0 !important;
	}
	li:hover {
		background: none !important;
	}
	a {
		color: #fff;
	}
}

.second {
	margin: 0 0 0 25%;
}


// ***** TOP IMG ***********


.top-img {
	z-index: -1;
    display: flex;
    margin: -145px 0 0 0;
    position: relative;
    .top-img-left {
    	width: 100%;
    	img {
			max-width: 100%;
		}
    }
    .top-img-right {
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	max-width: 60%;
    	overflow: hidden;
    	img {
    		width: 100%;
    	}
    }

}

.top-img-right-content {
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 998;
    position: absolute;
    margin: 0 10% 0 0;
    top: 50%;
    right: 0;
    a {
    	color: #fff;
		font-size: 45px;
   		text-align: center;
    }
}


.top-elems {
	display: flex;
}

// MENU **********

.maian_mnu {
	display: flex;
	ul {
		float: left;
		li {
			display: inline-block;
			
		}
	}
}

.main_mnu_button {
	background-color: transparent;
	border: medium none;
	font-size: 26px;
	color: #fff;
	padding: 8px 15px 0;
}

.main_mnu_button {
	cursor: pointer;
	padding: 15px;
	position: absolute;
    right: 0;
    z-index: 999;
}


// ***** ABOUT COMPANY ************



.about-company {
	display: flex;
	background: #fff;
	.container {
		ul {
			margin: 10px;
			li {
				list-style-image: url(../img/list.png);
			}
		}
		a {
			font-family: "OpenSans-Regular";
		}
	}
}

.about-company-text {
	margin: 20px 0 0 0;
}

.company-images {
	margin: 20px 0 0 0;
	display: flex;
	.com-img-1 {
		margin: 0 10px 0 0;
	}
	.com-img-2 {
		margin: 0 0 0 10px;
	}
}

.purpose {
	display: flex;
	margin: 20px 0 0 0;
}

.purpose-right {
	display: flex;
	justify-content: center;
    flex-direction: column;
	p {
		color: @color-dark-grey;
		margin: 0 0 0 30px;
	}
}

.more-info {
	margin: 20px 0 0 0;
	p {
		font-family: ;
	}
}



// ****** INFO BLOCK **************


.statistic {
	background: @color-light-blue;
	h2 {
		color: @color-medium-grey;
	}
	p {
		color: @color-medium-grey;
	}
	
}


.statistic-table {
	display: flex;
	margin: 20px 0 0 0;
}

.table-item {
	border: 2px solid @color-medium-grey;
	padding: 10px;
	display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;
    width: 14%;
    justify-content: space-between;
}

.table-item-wrap {
	display: flex;
	flex-direction: column;
}

.table-item-img {
	display: flex;
    justify-content: center;
    height: 63px;
}

.table-item-top {
	margin: 10px 0 0 0;
	p {
		margin: 0;
		font-size: 14px;
	}
}

.table-item-bottom {
	margin: 10px 0 0 0;
}

.price {
	display: flex;
	margin: 20px 0 0 0;
	.table-item {
		width: 45%;
		padding: 20px;
		border: 2px solid @color-light-blue;
		h1,h3,h4 {
			color: @color-medium-grey;
		}
	}
}

.big-img {
	margin: 20px 0 0 0;
	img {
		max-width: 100%;
	}
}

.result {
	background: @color-light-blue;
	margin: 30px auto 0 auto;
}

.result-text {
	h2, h4, p {
		color: @color-dark-grey;
	}
	h4 {
		margin: 10px 0 0 0;
	}
	li {
		list-style-image: url(../img/Bullets.png);
		margin: 5px 0 0 25px;
	}
}

.statistic, .result {
	padding: 60px 0;
}


// ********* FOOTER *****************



footer {
	display: flex;
	overflow: hidden;
}

.foot-item {
	background: @color-light-blue;
	margin: 0 -10px 0 0px;
	position: relative;
	img {
		max-width: 100%;
	}
}

.foot-top {
	display: flex;
	flex-direction: column;
}

.foot-bottom {
	display: flex;
	flex-direction: column;
	position: absolute;
    top: 35%;
    left: 30%;
	h2 {
		font-size: 18px;
		color: @color-light-blue;
		margin: 0;

	}
	h3 {
		font-size: 20px;
		color: @color-light-blue;
		margin: 0;
		text-transform: none;
	}
}

.end {
	margin: 0 auto;
	max-width: 1920px;
}

.top {
	margin: 0 auto;
	max-width: 1920px;
}
