	
	td, th, a, li {
		font-family: Verdana;
		font-size: 14px;
	}

	#calendar
	{
		display: block;
		width: 210px;
		overflow: hidden;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

	}


	#calendar .c-title
	{
		position: relative;
		width: 100%;
		color: #ffffff;
		background-color: #0c459a;
		border: 1px solid #0c459a;

			-webkit-border-top-left-radius: 2px;
			-webkit-border-top-right-radius: 2px;
			-moz-border-radius-topleft: 2px;
			-moz-border-radius-topright: 2px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
		#calendar .c-title .left-button
		{
			cursor: pointer;
			position: absolute;
			left: 0px;
			width: 32px;
			text-align: center;
			color: inherit;
			padding: 12px 0 12px 0;
		}
		#calendar .c-title .title
		{
			margin: 0 auto;
			margin-left: 32px;
			margin-right: 32px;
			text-align: center;
			color: inherit;
			padding: 12px 0 12px 0;
		}
		#calendar .c-title .right-button
		{
			cursor: pointer;
			position: absolute;
			right: 0px;
			width: 32px;
			text-align: center;
			color: inherit;
			padding: 12px 0 12px 0;
		}

	
			#calendar .left-button:hover, #calendar .right-button:hover
			{
				background: #000;
			}
			#calendar .left-button:active, #calendar .right-button:active
			{
				background: #000;
			}

		/* Days Wrapper */
		#calendar .c-days
		{
			width: 100%;
			border-spacing: 0px;
			border-collapse: separate;

			border: 1px solid #c3c3c3;
			border-top: none;
		}

		#calendar .c-days thead th
		{
		    padding: 10px 0px;
		    text-align: center;
		    font-size: 15px;
		    font-weight: normal;
		    color: #021355;
		}

		#calendar .c-days tbody tr td
		{
			border-width: 1px 1px 0px 0px;
			border-style: solid;
			border-color: rgba(120, 120, 120, 0.05);
		}

		#calendar .c-days tbody tr td:last-child
		{
			border-width: 1px 0px 0px 0px;
			border-style: solid;
			border-color: rgba(120, 120, 120, 0.05);
		}

		#calendar .c-days tbody tr:last-child td
		{
			border-bottom: none;
		}


		#calendar .c-days tbody tr td > span
		{
			display: block;
			width: 100%;
			padding: 4px 0;
			text-align: center;
			text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
			color: #6c7174;

			border-top: 1px solid rgba(255, 255, 255, 0.05);
			border-left: 1px solid rgba(255, 255, 255, 0.05);
		}


		#calendar .c-days tbody tr td.other-month > span
		{
			color: #ced0d1;

			border-top: 1px solid rgba(255, 255, 255, 0.05);
			border-left: 1px solid rgba(255, 255, 255, 0.05);
		}



		#calendar .c-days tbody tr td.today > span
		{
			border: 1px solid red;
			margin-bottom: 1px;
			color: #000 !important;

			cursor: default;
		}

		#calendar .c-days tbody tr td.sunday > span
		{
			padding: 7px 0 1px 0;
			color: #eb556e;
		}

		#calendar .c-days tbody tr td:hover
		{
			background-color: #f0f0f0;
			cursor: pointer;
		}

		#calendar .c-days a
		{
			text-decoration: none;
			color: grey;
			cursor: pointer;
		}

		.light-gray{
			background-color: #e3e3e3;
		}

	 .date-input{
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 padding-top: 20%;
	 }

	#calendar-freebie { 
			display: table;
			padding-right: 40px;
			margin: 20px auto;
			list-style: none;
		}

	#calendar-freebie li { 
			float: left;
		 	margin-right: 12px;
		}

	#calendar-freebie li:last-child { 
		margin-right: 0; 
	}

	#text { 
		text-align: center;
		font-size: 48px;
		width: 610px;
		margin: 0 auto;
		margin-top: 50px;
		margin-top: 80px; 
	}

	#smalltext { 
			text-align: center;
			font-size: 15px;
			width: 600px;
			margin: 0 auto;
		}
		
	#content { 
		display: none;
		position: relative;
	}
