@import "_vars";



// ******* MAIN SETTINGS ************


* {
	padding: 0;
	margin: 0;
}

section {
	margin: 0 auto;
}

.container {
	width: 1000px;
	max-width: 100%;
	margin-right: auto;
    margin-left: auto;
	display: flex;
	flex-direction: column;
}

a {
	font-family: "RajdhaniSemibold";
	text-decoration: none;
	font-size: 18px;

}

p {
	font-size: 15px;
	font-weight: bold;
    line-height: 1.5;
    margin: 10px 0 0 0;
}

h1 {
	font-family: "RajdhaniBold";
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
}

h2 {
	font-family: "RajdhaniBold";
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1.7;
	font-weight: normal;
	margin: 5px 0;
}

h3 {
	font-family: "RajdhaniRegular";
	text-transform: uppercase;
	font-weight: normal;
	color: #393939;
    font-size: 24px;
    letter-spacing: 1.7;
}

h4 {
	color: #fff;
	font-family: "Courier New Regular";
	font-size: 31px;
	font-weight: normal;
	text-transform: uppercase;
}

h5 {
	font-family: "RajdhaniMedium";
	font-size: 28px;
	font-weight: normal;
	text-transform: uppercase;
}

h6 {
	font-family: "RajdhaniSemibold";
	font-weight: normal;
	text-transform: uppercase;
	font-size: 23px;
}

li {
	font-family: "RajdhaniRegular";
	list-style: none;
	font-size: 20px;
	color: #fff;
}




// ************ TOP *****************




.top-elems {
    display: flex;
    justify-content: space-between;
}

.top {
	height: 100px;
	background-color: #000;
	display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.logo {
    display: flex;
    flex-direction: column-reverse;
}

.logo-icon {
    display: flex;
    margin: 0 20px 0 0;
    flex-direction: column;
    justify-content: center;
}

.menu {
	display: flex;
	align-items: center;
}

.maian_mnu {
	color: #fff;
	a {
		padding: 15px;
		color: #fff;
		display: block;
		font-size: 20px;
		text-transform: uppercase;
		transition: all .25s;
		letter-spacing: 1.2;
		&:hover {
			color: #6b30ff;
		}
	}
	ul {
		display: none;
		background-color: #b1b1b1;
		position: absolute;
		width: 37%;
		left: 0;
		z-index: 999;
		margin: -50px 0 0 0;
		border: 3px solid #000;
		min-width: 185px;
		li {
			display: block;
		}
	}
}


.main_mnu_button {
	background-color: transparent;
	border: medium none;
	font-size: 26px;
	color: #fff;
	padding: 8px 15px 0;
}

.main_mnu_button {
	cursor: pointer;
	padding: 15px;
	outline: none;
}


// ********** HOVER MENU ******************

.top-hover-menu {
	background-color: #000;
	display: flex;
	justify-content: space-between;
	padding: 5 10px;
}

.top-hover-menu-left {
    display: flex;
    align-items: center;
}


.top-hover-search {
	display: flex;
	padding: 10px 0;
	justify-content: flex-end;
    margin: 0 10px 0 0;
}

.top-hover-search-left {
	margin: 0 5px 0 0;
	width: 65%;
	input {
		padding: 5px 0 5px 20px;
		text-align: left;
    	color: #585858;
    	font-family: "RajdhaniMedium";
	}
}

.top-hover-search-right {
	background-color: #000;
	padding: 5px;
	cursor: pointer;
}

.categoty {
	display: flex;
	justify-content: flex-end;
	padding: 10px 0;
	margin: 5px 0 0 0;
	background-color: #fff;
	position: relative;
    width: 100%;
    flex-direction: column;
}

.categoty-items {
	display: flex;
	justify-content: space-between;
}

.categoty-left {
	h5 {
		font-size: 20pt;
		color: #373737;
		margin: 5px 0 0 0;
	}
}

.categoty-right,  .categoty-left {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}

.categoty-left {
	margin: 0 0 0 25%;
}

.categoty-right {
	cursor: pointer;
	img {
		padding: 10px;
	}
}

.categories-pre {
    background-color: #000;
    position: absolute;
    width: 100%;
    margin: 10px 0 -10px 0;
    left: 0;
    z-index: 999;
    display: none;
    position: relative;
}

.category-child {
	display: flex;
	justify-content: space-between;
}

.category-child-left {
	margin: 0 0 0 25%;
	display: flex;
    align-items: center;
	h5 {
		font-size: 20pt;
		color: #fff;
		margin: 5px 0 0 0;
	}
}

.category-child-right {
	cursor: pointer;
	display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}

.second_mnu_button {
	outline: none;
}





// ********* SECOND HOVER MENU **************




.second_mnu {
		ul {
			display: none;
		    background-color: #b1b1b1;
		    position: absolute;
		    width: 37%;
		    left: inherit;
		    right: 0;
		    z-index: 999;
		    margin: -57px 0 0 0;
		    border: 3px solid #000;
		    min-width: 185px;
		}
	}

.second_mnu_button {
	cursor: pointer;
    padding: 15px;
    background-color: transparent;
    border: medium none;
    font-size: 26px;
    color: #fff;
}


.second-menu {
	.categoty {
		padding: 0;
		margin: 2px 0;
	}
	.categoty-left {
		margin: 0;
	}
}

// ************ PROPOSE *****************


.propose {
	background-color: $color-gray;
	text-align: center;
	h2 {
		span {
			font-family: "RajdhaniMedium";
		}
	}
}


.second-cat-info-top {
	color: #000;
}


.second-cat-img {
    display: flex;
}

.square {
    padding: 10px;
    background-color: #000;
    display: inline-block;
}


.second-cat-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10px;
}

.second-cat-info-icons {
    display: flex;
    align-items: center;
}


.icon-2 {
	margin: 0 5px;
	background-color: #d1d1d1;
    padding: 0px 5px;
	h2 {
		color: #000;
		font-size: 17px;
	}
}

.icon-1 {
    padding: 10px 8px;
    border: 1px solid #000;
    cursor: pointer;
}

.icon-3 {
    padding: 7px 7px;
    border: 1px solid #000;
    cursor: pointer;
}



.bucket-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10px 0 0;
}

.bucket-right-top {
    display: flex;
    justify-content: flex-end;
    img {
    	padding: 7px 10px;
    	border: 1px solid #000;
    	cursor: pointer;
    }
}


.bucket-right-bottom {
    margin: 0px 0 -10px 0px;
}


.second-search-last {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.second-search-last-left {
	margin: 0 0 0 10px;
	h5 {
		color: #000;
	}
}

.second-search-last-last {
	display: flex;
}

.second-search-last-right {
	margin: 0 10px 0 0;
}


.second-search-last-left-text {
	background-color: #fff;
	width: 40%;
	display: flex;
    justify-content: center;
    text-align: center;
	h2 {
		color: #b3b3b3;
	}
}

.second-search-last-right-text {
	background-color: #000;
	width: 60%;
	display: flex;
	h2 {
		color: #fff;
		font-size: 25px;
		display: flex;
    	align-items: center;
    	margin: 3px 10px 0 10px;
	}
}

.second-search-last-right-img {
	display: flex;
	flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.spleater {
	margin: 50px;
}

.second-categoty-items {
    display: flex;
    justify-content: space-between;
}

// ************ SLIDER *****************


.slider {
	background-color: #f8f7f3;
}

.top-slider {
	height: 200px;
}

.slider-item {
	img {
		height: 100%;
		margin: 0 auto;
	}
}


.slider-item-text {
    position: absolute;
    top: 40%;
    left: 23%;
    text-align: center;
    h1 {
		color: #000;
		font-size: 46px;
		border-bottom: 2px solid #000;
   		padding: 0 0 5px 0;
		span {
			font-family: "RajdhaniRegular";
			margin: 0 0 0 10px;
		}
    }
    h4 {
		color: #000;
		margin: 5px 0 0 0;
    }
    h5 {
    	display: inline-block;
		color: #000;
		margin: 40px 0 0 0;
    	padding: 7px 15px;
    	border: 2px solid #000;
    }
}



// **************** CHANGE POSITION

header {
	display: flex;
	flex-direction: column;
}

.top, .propose, .slider {
	margin: 0;
}



// ***********  head-items


.head-items {
	background-color: #fff;
	text-align: center;
	margin: 30px 0;
}


.head-items-logo {
    display: flex;
    justify-content: center;
    h3 {
    	margin: 0 10px;
    }
}

.left-img, .right-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


// ********* SECOND SLIDER ***********

.products {
	margin: 0 0 40px 0;
}

.second-slider {
	.slider-item {
		height: 320px;
		text-align: center;
		img {
			height: 270px;
		}
		h3 {
			color: #888888;
			font-size: 20px;
			text-decoration: line-through;
		}
		h6 {
			color: #000;
		}
	}

}

.slider-item-block {
	img {
		margin: 0 auto;
	}
}

button.slick-arrow {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
}

.right-img {
	right: -25px;
}

.left-img {
	left: -15px;
}

.second-slider-icon {
	margin: 30px auto 0;
}



.slider-item-block-hover {
    position: relative;
}


.for-text {
    position: absolute;
    visibility: collapse;
    bottom: 1px;
    left: 12%;
    padding: 7px 29px;
    background: rgba(0,0,0, .6);
    h6 {
    	color: #fff !important;
    }
    &:hover {
			visibility: visible;
    }
 
}


// ************ CATEGORIES

.img-wrapper {
    position: relative;
    cursor: pointer;
    &:hover {
    	background-color: #000;
		img {
			opacity: .5;
		}
    }
}

.text-wrapper {
	color: #fff;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	display: flex;
    justify-content: center;

}

.text-wrapper-head {
	display: flex;
	align-items: center;
		h6 {
		font-size: 46px;
	}
}


// ******** MAIL ***************



.mail {
	margin: 40px 0;
}

.mail-wrapper {
	display: flex;
	justify-content: space-between;
}


.left-mail {
		background-color: #000;
		color: #fff;
		padding: 15px 25px;
		position: relative;
		text-align: center;
		&::after {
			content: '';
		    position: absolute;
    		right: -43px;
    		top: -1px;
    		border: 28px solid transparent;
    		border-left: 15px solid #000;
	}
}


input {
	outline: none;
    font-size: 15px;
    border: 2px solid #d0d0d0;
    text-align: center;
    width: 100%;
}


.right-mail {
	background-color: #d0d0d0;
	color: #000;
	padding: 15px 25px;
	border-bottom: 3px solid #4f5052;
	cursor: pointer;
	text-align: center;
}

.input-first {
	margin: 0 5px 0 25px;
}

.input-second {
	margin: 0 15px 0 10px;
}



// ************* FOOTER

footer {
	background-color: #000;
	margin: 50px 0 0 0;
	padding: 15px;
}

.foot-wrap {
	display: flex;
	justify-content: space-between;
}

.foot-menu {
	ul {
		display: flex;
		li {
			margin: 0 10px;
			cursor: pointer;
		}
	}
}

.icons {
    display: flex;
}

.icon {
	cursor: pointer;
	margin: 0 5px;
}


.mobile-footer-icon {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

