
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.container {
		width: 730px;
	}

	.top-slider {
		height: 400px;
	}

	.column {
		img {
			height: 260px;
		}
	}

	.third-slider {
	.slider-item {
		img {
    		height: 135px;
		}
	} 
} 

	.categoty-items {
		flex-direction: row;
	} 

	.bucket-right {
		flex-direction: column;
    	margin: 0 10px 0 0;
    	align-items: stretch;
	}


	// ADAPTIVE TEXT 
	// **************************************************************
	// **************************************************************
	// **************************************************************
	// **************************************************************

	.propose {
		h2 {
			font-size: 10.5pt;
		}
	}	

	.slider-item-text {
	    position: absolute;
	    top: 40%;
	    left: 21%;
	    text-align: center;
	    h1, h4, h5 {
	    	font-size: 1.5em;
	    }
	}

	.slick-dots {
		bottom: 40px;
	}

	button.slick-arrow {
		top: 44%;
	}


	.text-wrapper-head {
			h6 {
			font-size: 20pt;
		}
	}

.mobile-footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    display: none;
}


	// **************************************************************
	// **************************************************************
	// **************************************************************
	// **************************************************************


	// **************** CHANGE POSITION

	.propose {
		order: 1;
	}

	.slider {
		order: 2;
	}

	.top {
		order: 3;
	}


// ****************** THIRD SLIDER


.third-slider {
	.slider-item {
		img {
    		max-width: 100%;
    		height: 135px;
		}
	}
	.img-wrapper {
		margin: 0 10px;
	}
	.text-wrapper {
		h6 {
			visibility: hidden;
		}
		.third-wrapper {
			img {
				visibility: hidden;
			}
		}
		&:hover {
				.text-wrapper-head {
					display: flex;
					flex-direction:column;
					justify-content: center;
				}
				h6 {
					font-size: 20px;
					visibility: hidden;
				}
				.third-wrapper {
					margin: 0 0 15px 0;
			    	img {
			    		height: 29px !important;
			    		visibility: hidden;
			    	}
				} 
		}
	}
}


 // ******* FOURTH ***************


.fourth-slider {
	.slider-item {
		img {
    		max-width: 100%;
    		height: 170px;
		}
	}
	.img-wrapper {
		margin: 0 10px;
	}
	.text-wrapper {
		h6 {
			visibility: hidden;
		}
		.fourth-wrapper {
			img {
				visibility: hidden;
			}
		}
		&:hover {
				.text-wrapper-head {
					display: flex;
					flex-direction:column;
					justify-content: center;
				}
				h6 {
					font-size: 20px;
					visibility: hidden;
				}
				.fourth-wrapper {
					margin: 0 0 15px 0;
			    	img {
			    		height: 29px !important;
			    		visibility: hidden;
			    	}
				} 
		}
	}
}




}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	.container {
		width: 1180px;
	}

	.column {
		img {
			height: 400px;
		}
	}

	.logo-icon {
		img {
			width: 120%;
		}
	}

	.top-slider {
		height: 700px;
	}

	.third-slider {
	.slider-item {
		img {
    		height: 220px;
		}
	} 
}


	// ADAPTIVE TEXT
	// **************************************************************
	// **************************************************************
	// **************************************************************
	// ************************************************************** 

	.propose {
		h2 {
			font-size: 12pt;
		}
	}

	.slider-item-text {
	    position: absolute;
	    top: 40%;
	    left: 23%;
	    text-align: center;
	    h1, h4, h5 {
	    	font-size: 2.2em;
	    }
	}

	.slick-dots {
		bottom: 40px;
	}

	button.slick-arrow {
		top: 44%;
		margin: 0 10px;
	}

	.text-wrapper-head {
			h6 {
			font-size: 33pt;
		}
	}

	.mobile-footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    display: none;
}




	// **************************************************************
	// **************************************************************
	// **************************************************************
	// **************************************************************



// ****************** THIRD SLIDER


.third-slider {
	.slider-item {
		img {
    		max-width: 100%;
		}
	}
	.img-wrapper {
		margin: 0 10px;
	}
	.text-wrapper {
		h6 {
			visibility: hidden;
		}
		.third-wrapper {
			img {
				visibility: hidden;
			}
		}
		&:hover {
				.text-wrapper-head {
					display: flex;
					flex-direction:column;
					justify-content: center;
				}
				h6 {
					font-size: 20px;
					visibility: visible;
					opacity: 1;
				}
				.third-wrapper {
					margin: 0 0 15px 0;
			    	img {
			    		height: 29px !important;
			    		visibility: visible;
			    		opacity: 1;
			    	}
				} 
		}
	}
}


 // ******* FOURTH ***************

	.fourth-slider {
	.slider-item {
		img {
    		max-width: 100%;
		}
	}
	.img-wrapper {
		margin: 0 10px;
	}
	.text-wrapper {
		h6 {
			visibility: hidden;
		}
		.fourth-wrapper {
			img {
				visibility: hidden;
			}
		}
		&:hover {
				.text-wrapper-head {
					display: flex;
					flex-direction:column;
					justify-content: center;
				}
				h6 {
					font-size: 20px;
					visibility: visible;
					opacity: 1;
				}
				.fourth-wrapper {
					margin: 0 0 15px 0;
			    	img {
			    		height: 29px !important;
			    		visibility: visible;
			    		opacity: 1;
			    	}
				} 
		}
	}
}


.fourth-slider {
	.slider-item {
		img {
    		height: 285px;
		}
	} 
}

}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.container {
		width: 90%;
		margin: 0 5%;
	}

	.column {
		img {
			height: 210px;
		}
	}

		

	// ADAPTIVE TEXT 

	// **************************************************************
	// **************************************************************
	// **************************************************************
	// **************************************************************

	.propose {
		h2 {
			font-size: 10px;
		}
	}


	.logo {
		justify-content: center;
		margin: 5px 7px 0 0;
		text-align: center;
   		h1 {
   			font-size: 23px;
   		}
	}

	.slider-item-text {
	    position: absolute;
	    top: 40%;
	    left: 23%;
	    text-align: center;
	    h1, h4, h5 {
	    	font-size: 0.7em;
	    }
	    h5 {
	    	margin: 15px 0 0 0;
	    }
	}

	.slick-dots {
		bottom: 10px !important;
	}

	.head-items-logo {
		h3 {
			font-size: 14px;
		}
	}
	.right-img, .left-img {
		width: 15%;
	}

	button.slick-arrow {
		top: 43%;
    	margin: 0 -10px;
	}

	.text-wrapper-head {
			h6 {
			font-size: 20pt;
		}
	}

	.mail-wrapper {
		flex-direction: column;
	}

	.left-mail::after {
		border: none;
	}

	.input-first, .input-second {
    	margin: 5px 0 0 0;
    	padding: 10px 0;
	}

	.right-mail {
	    margin: 5px 0 0 0;
	    padding: 10px 25px;
	}

	.mobile-footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    display: block;
}

	footer {
		display: none;
	}

	.categoty-left, .category-child-left {
		h5 {
			font-size: 20px;
		}
	}




	// **************************************************************
	// **************************************************************
	// **************************************************************
	// **************************************************************
	

	
	.second-search-last-last {
		flex-direction: column;
	}
	.second-search-last-left-text, .second-search-last-right-text {
		width: 100%;
	}

		// **************** CHANGE POSITION

	.propose {
		order: 2;
	}

	.slider {
		order: 3;
	}

	.top {
		order: 1;
	}

	// ********* THIRD SLIDER 

	.third-slider {
	.slider-item {
		img {
    		height: 135px;
		}
	} 
	}

	.third-slider {
	.slider-item {
		img {
    		width: 100%;
    		height: auto;
		}
	}
	.img-wrapper {
		margin: 0 10px;
	}
	.text-wrapper {
		h6 {
			visibility: hidden;
		}
		.third-wrapper {
			img {
				visibility: hidden;
			}
		}
		&:hover {
				.text-wrapper-head {
					display: flex;
					flex-direction:column;
					justify-content: center;
				}
				h6 {
					font-size: 20px;
					visibility: hidden;
				}
				.third-wrapper {
					margin: 0 0 15px 0;
			    	img {
			    		height: 29px !important;
			    		visibility: hidden;
			    	}
				} 
		}
	}
}

	.third-slider {
		.slick-slide {
			img {
				opacity: .5;
			}
		}

		.slick-current {
			img {
				opacity: 1;
			}
		} 
	}  

 
 // ******* FOURTH ***************


	.fourth-slider {
	.slider-item {
		img {
    		width: 100%;
    		height: auto;
		}
	} 
	}

	.fourth-slider {
	.slider-item {
		img {
    		max-width: 100%;
		}
	}
	.img-wrapper {
		margin: 0 10px;
	}
	.text-wrapper {
		h6 {
			visibility: hidden;
		}
		.fourth-wrapper {
			img {
				visibility: hidden;
			}
		}
		&:hover {
				.text-wrapper-head {
					display: flex;
					flex-direction:column;
					justify-content: center;
				}
				h6 {
					font-size: 20px;
					visibility: hidden;
				}
				.fourth-wrapper {
					margin: 0 0 15px 0;
			    	img {
			    		height: 29px !important;
			    		visibility: hidden;
			    	}
				} 
		}
	}
}

	.fourth-slider {
		.slick-slide {
			img {
				opacity: .5;
			}
		}

		.slick-current {
			img {
				opacity: 1;
			}
		} 
	} 



	.second-categoty-items {
		flex-direction: column;
	} 
		
	.bucket-right {
		flex-direction: row-reverse;
    	margin: 10px 0 0 0;
    	align-items: stretch;
	}


	// MENU **************

	.maian_mnu ul, .second_mnu ul {
		width: 100%;
	}



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}