﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Verdana;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.cent  {
}

p {
    font-size: 15px;
    color: #777;
}

.button_add {
    border: none;
    background-color: #4aaad2;
    color: #fff;
    padding: 5px 16px;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}