#clock {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 20px auto 0 auto;
  background: url(images/1.png) 35% 40%;
  background-repeat: no-repeat;
  background-size: 90%;
  list-style: none;
}

#sec, #min, #hour {
  position: absolute;
  width: 30px;
  height: 600px;
  top: 0px;
  left: 285px;
}

#sec {
  background: url(images/4.png);
  z-index: 3;
}
   
#min {
  background: url(images/3.png);
  z-index: 2;
}
   
#hour {
  background: url(images/2.png);
  z-index: 1;
}


// Анимация


  @keyframes meteor-animation {
    0% {
      right: 0px;
      top: 0px;
    }
    100% {
      right: calc(100%);
      top: calc(100%); 
    }
  }

  @-webkit-keyframes meteor-animation {
    0% {
      right: 0px;
      top: 0px;
    }
    100% {
      right: calc(100%);
      top: calc(100%); 
    }
  }


#meteor {
    animation: meteor-animation 3s infinite;
    -webkit-animation: meteor-animation 3s infinite;
    position: absolute;
  }