<div class="toDoApp"  ng-controller="toDoList">

	<div class="forms">
		<h1>Новый пользователь</h1>
		<form class="appForm" name="appForm">

			<p>Имя:</p>
			<input type="text" name="name" ng-model="name" required>
			<span ng-show="appForm.name.$dirty && appForm.name.$invalid">Поле обязательно.</span>

			<p>Фамилия:</p>
			<input type="text" name="surname" ng-model="surname" required>
			<span ng-show="appForm.surname.$dirty && appForm.surname.$invalid">Поле обязательно.</span>

			<p>Возраст:</p>
			<input type="text" name="age" ng-model="age" required>
			<span ng-show="appForm.age.$dirty && appForm.age.$invalid">Поле обязательно.</span>

			<p>Email:</p>
			<input name="Email" ng-model="Email" required>
			<span ng-show="appForm.Email.$dirty && appForm.Email.$invalid">Введите корректный email</span>
				
			<p>Пол:</p>
			<select name="gender" ng-model="gender" required>
  				<option>Мужской</option>
  				<option>Женский</option> 
			</select>


		</form>


		<button class="button-green" ng-click="addItem()" type="submit" ng-disabled="appForm.$invalid">добавить</button>
		<button class="button-red" ng-click="delItem()">удалить</button>

		<!-- Фильтр по полу -->

		<p>Фильтр:</p>
		 <div class="filter-for-table">
		    <select class="form-control" ng-model="dataSelect.model">

		      <option ng-repeat="option in dataSelect.availableOptions" value="{{option.value}}">{{option.name}}</option>
		    </select>
		 </div>

	</div>


	<div id="itemList">
		<p class="counter"><strong>Выбрано:</strong> {{itemCount}} пользователя</p>

		<div class="items" ng-repeat="i in itemList | filter:{gender : dataSelect.model }">
			<label class="task" >
				<input type="checkbox" ng-model = "i.done" >
				<div class="records" ng-class="{strike: i.done}">
					<p>{{'Имя: ' + i.name}}</p>
					<p>{{'Фамилия: ' + i.surname}}</p>
					<p>{{'Возраст: ' + i.age}}</p>
					<p>{{'Email: ' + i.Email}}</p>
					<p>{{'Пол: ' + i.gender}}</p>			
				</div>	
			</label>
		</div>
	</div>

</div>