<div class="site-wrap">
	<h2>Местное время</h2>

	<div class="maps-time">
		<div class="maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5228.694875301126!2d33.410321467505284!3d49.06103012762802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1488732824451" allowfullscreen></iframe>
		</div>
		<div class="time">
			<ul id="clock">	
		  		<li id="sec"></li>
		  		<li id="hour"></li>
		  		<li id="min"></li>
			</ul>
		</div>
	</div>
	
</div>