@font-face {
	font-family: "BigNoodleTitling";
	src: url("../fonts/BigNoodleTitling.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoCondensedBold";
	src: url("../fonts/RobotoCondensedBold.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoCondensedRegular";
	src: url("../fonts/RobotoCondensedRegular.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoThin";
	src: url("../fonts/RobotoThin.ttf") format("truetype");
}