/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.maian_mnu ul {
		background-color: #f8f6f6;
		display: none;
		position: absolute;
		z-index: 1000;
		width: 100%;
		left: 0;
	}
	.maian_mnu ul li {
		display: block;
	}

	.adaptive-1, .adaptive-2 {
		width: 80% !important;
		margin: 10px auto !important;
		display: flex;
    	justify-content: center;
	}

	.adaptive {
		flex-direction: column;
		justify-content: center;
	}

	.video-content iframe {
		height: 70%;
	}

	.port-menu ul {
		flex-direction: column;
    	justify-content: center;
	}

	.port-menu ul li {
		margin: 10px 0 0 0;
	}

	.who-we-left adaptive-1 {
		max-width: 50% !important;
	}

	.video-text {
	    padding: 20px 0;
	}

	.slid {
		min-height: 300px;
	}

	.flexslider .slides > li h2 {
		font-size: 40px !important;
	}

	.flexslider .slides > li p {
		font-size: 30px !important;
	}

	.portfolio_item {
		width: 50%;
	}



}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.main_mnu_button {
		display: none;
	}

	.maian_mnu ul {
		display: block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}