* {
  padding: 0;
  margin: 0;
}
section {
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  width: 1000px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
a {
  font-family: "RobotoCondensedRegular";
  color: #696969;
  text-decoration: none;
  font-size: 18px;
}
p {
  font-family: "RobotoThin";
  color: #919191;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
  margin: 10px 0 0 0;
}
h1 {
  font-family: "RobotoBold";
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
}
h2 {
  font-family: "BigNoodleTitling";
  color: #353535;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 1.7;
  font-weight: normal;
  margin: 10px 0 0 0;
}
h3 {
  font-family: "BigNoodleTitling";
  color: #696969;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 1.7;
  margin: 10px 0 0 0;
}
h4 {
  font-family: "RobotoBold";
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
h5 {
  font-family: "RobotoLight";
  font-size: 16px;
  text-transform: uppercase;
}
li {
  font-family: "RobotoBold";
  list-style: none;
  color: #353535;
  font-size: 16px;
}
.top-elems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top {
  background: #f8f6f6;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 20px;
}
.logo h3 {
  margin: 5px 0 0 15px;
}
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.maian_mnu {
  color: #fff;
}
.maian_mnu a {
  color: #353535;
  padding: 15px;
  display: block;
  -webkit-transition: all .25s;
          transition: all .25s;
  letter-spacing: 1.2;
}
.maian_mnu a:hover {
  color: #fff;
  background-color: #919191;
}
.maian_mnu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  text-transform: uppercase;
}
.maian_mnu ul li {
  display: inline-block;
}
.main_mnu_button {
  background-color: transparent;
  border: medium none;
  font-size: 26px;
  color: #fff;
  outline: none;
  padding: 8px 15px 0;
}
.main_mnu_button {
  cursor: pointer;
  padding: 15px;
}
.slid {
  background: #353535;
  min-height: 700px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.scroll {
  cursor: pointer;
}
.scroll img {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.about {
  background: #f8f6f6;
}
.heading {
  width: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px auto;
  text-align: center;
}
.heading h2 {
  display: inline-table;
  margin: 0 auto;
  border-bottom: 3px solid #f6744b;
}
.sections {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 100px 0;
}
.table-item {
  padding: 20px;
  background: #ebebeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px 0 10px;
  width: 33%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.table-item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.table-item-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.table-item-img img {
  max-width: 100%;
}
.table-item-top {
  margin: 10px 0 0 0;
  text-align: center;
}
.table-item-top h4 {
  color: #696969;
}
.video {
  background: #171f23;
}
.video-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.video-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  text-align: center;
  padding: 40px;
}
.button-red {
  border: none;
  font-family: "RobotoBold";
  background: #e84c3d;
  color: #fff;
  width: 150px;
  padding: 9px 10px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  margin: 30px auto 0 auto;
}
.button-red:active {
  box-shadow: 0px 8px 17px 0px #460202 inset;
}
.video-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
.video-content iframe {
  width: 100%;
}
.our-works {
  background: #f8f6f6;
}
.portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.port-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px 0;
}
.port-menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.port-menu ul li {
  margin: 0 20px 0 0;
  cursor: pointer;
}
.active {
  border-bottom: 1px solid #e84c3d;
  margin: -1px 20px 0 0;
}
.portfolio-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.portfolio_item {
  display: none;
  width: 25%;
  overflow: hidden;
}
.portfolio_item img {
  width: 100%;
  -webkit-transition: .4s all;
          transition: .4s all;
}
.portfolio_item img:hover {
  -webkit-transition: .4s all;
          transition: .4s all;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.portfolio_item:hover {
  box-shadow: 0px 2px 40px -5px;
  -webkit-transition: .2s all;
          transition: .2s all;
  cursor: pointer;
}
.portfolio_item a {
  outline: none;
}
.clients {
  background: #0c1215;
}
.slider-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 120px;
  padding: 30px 10px;
}
.slider-2-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-2-img img {
  width: 45px;
  height: 45px;
}
.slider-block {
  cursor: pointer;
}
.sm-img img {
  margin: 5px auto 0 auto !important;
}
.sm-img h4 {
  margin: 5px 0 0 0;
}
.who-we {
  background: #f8f6f6;
}
.who-we-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 60px 0;
}
.who-we-left {
  background: #ebebeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  text-align: center;
  padding: 30px;
  margin: 0 30px 0 0;
}
.who-we-left h4 {
  color: #353535;
  font-size: 18px;
}
.who-we-left img {
  max-width: 100%;
}
.who-we-top-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.soc,
.bullets {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}
.soc img,
.bullets img {
  margin: 0 5px;
  cursor: pointer;
}
.who-we-right {
  background: #ebebeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  padding: 30px;
  overflow: hidden;
}
.who-we-right h4 {
  color: #353535;
  font-size: 18px;
}
.who-we-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 0 0;
}
.who-we-list-item h4 {
  color: #353535;
  font-size: 16px;
  margin: 0;
  width: 100%;
}
.who-we-list-item img {
  height: 2px;
  margin: auto 80px auto 0px;
  overflow: hidden;
  width: 100%;
}
.features {
  background: #171f23;
  text-align: center;
}
.features-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 30px 0;
}
.features-head {
  margin: 40px 0 0 0;
}
.features-head h1 {
  font-family: "RobotoCondensedRegular";
  font-size: 30px;
  margin: 20px 0 0 0;
}
.table-item-top h5 {
  margin: 20px 0 0 0;
  color: #fff;
}
.features-item {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px 0 10px;
  width: 17%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-post {
  background: #f8f6f6;
}
.blog-post .table-item-top {
  text-align: left;
}
.blog-post .table-item-top h5 {
  color: #353535;
}
.blog-post .table-item-img {
  height: auto;
  background: #787474;
}
.blog-post .table-item-img img {
  width: 100%;
  opacity: 0;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.blog-post .table-item-img:hover img {
  width: 100%;
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.hover-buttons {
  cursor: pointer;
  position: absolute;
}
.hover-buttons a {
  outline: none;
}
.table-item-botton-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.botton-content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.botton-content-left img {
  width: 100%;
}
.botton-content-img {
  margin: 15px 5px 0 5px;
}
.botton-content-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.plan {
  background: #171f23;
  text-align: center;
}
.features-item span {
  -webkit-transition: all .2s;
          transition: all .2s;
}
.features-item p {
  color: #fff;
}
.features-item:hover {
  border: 1px solid #f6744b;
  padding: 19px;
}
.features-item:hover span {
  color: #f6744b;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.table-item-plan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}
.table-item-plan h5 {
  font-size: 30px;
}
.table-item-top span {
  font-family: "RobotoBold";
}
.table-item-button .button-red {
  background: #f6744b;
}
.in-touch {
  background: #f8f6f6;
}
.forms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
}
.forms h4 {
  color: #787474;
}
.forms h4 span {
  color: #f6744b;
}
.forms input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 30px 0 5px 10px;
  font-size: 18px;
  color: #787474;
  width: 100%;
}
.forms-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.forms-top-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 100px 0 0;
}
.forms-top-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.forms-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.button-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px 0;
}
.location {
  background: #0c1215;
}
.locate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}
.locate h1 {
  font-family: "RobotoCondensedBold";
  font-size: 28px;
}
.locate-img {
  margin: auto 10px;
}
.footer {
  background: #171f23;
}
.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  margin: 40px 0;
}
.footer-content h3 {
  color: #fff;
}
.footer-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.to-top {
  cursor: pointer;
}
