* {
    margin: 0;
    padding: 0;
}

.slider-container {
    width: 600px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slides {
    height: 100%;
    position: relative;
    display: flex;
}

.slides li {
    display: flex;
}

.slides img {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
}

.prev {
    left: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    height: 49px;   
    width: 29px;
    background-repeat: no-repeat;
    background-image: url(img/slide-left.png);
}

.next {
    right: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
    height: 49px;   
    width: 29px;
    background-repeat: no-repeat;
    background-image: url(img/slide-right.png);
}

.all-container {
    width: 700px;
    margin: 0 auto;
    position: relative;
}