﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
    <div class="col-md-12">@Html.Partial("View")</div>
    <div class="col-md-12">
        @helper CreateList(string[] all)
        {
        <ul>
            @foreach (string s in all)
            {
                <li>@s</li>
            }
        </ul>
        }
        @{
            string[] cities = new string[] { "Лондон", "Париж", "Москва" };
        }
        @{
            string[] countries = new string[] { "Великобритания", "Франция", "Россия" };
        }
        <h3>Города</h3>
        @CreateList(cities)
        <br />
        <h3>Страны</h3>
        @CreateList(countries)
    </div>
</div>