@import "vars";


// ******* MAIN SETTINGS ************

* {
	padding: 0;
	margin: 0;
}

section {
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	width: 1000px;
	max-width: 100%;
	margin-right: auto;
    margin-left: auto;
	display: flex;
	flex-direction: column;
}

a {
	font-family: "RobotoCondensedRegular";
	color: @color-light-grey;
	text-decoration: none;
	font-size: 18px;

}

p {
	font-family: "RobotoThin";
	color: @color-light-light-grey;
	font-size: 15px;
	font-weight: bold;
    line-height: 1.5;
    margin: 10px 0 0 0;
}

h1 {
	font-family: "RobotoBold";
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
}

h2 {
	font-family: "BigNoodleTitling";
	color: @color-dark-grey;
	text-transform: uppercase;
	font-size: 38px;
	letter-spacing: 1.7;
	font-weight: normal;
	margin: 10px 0 0 0;
}

h3 {
	font-family: "BigNoodleTitling";
	color: @color-light-grey;
	text-transform: uppercase;
	font-weight: normal;
    font-size: 30px;
    letter-spacing: 1.7;
	margin: 10px 0 0 0;
}

h4 {
	font-family: "RobotoBold";
	color: #fff;
	text-transform: uppercase;
	margin: 10px 0 0 0;
}

h5 {
	font-family: "RobotoLight";
	font-size: 16px;
	text-transform: uppercase;
}

li {
	font-family: "RobotoBold";
	list-style: none;
	color: @color-dark-grey;
	font-size: 16px;
}



// ************ TOP-BG *****************




.top-elems {
    display: flex;
    justify-content: space-between;
}

.top {
	background: @color-light-white;
	height: 100px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.logo {
	display: flex;
	margin: 0 0 0 20px;
	h3 {
		margin: 5px 0 0 15px;
	}
}

.menu {
	display: flex;
}

.maian_mnu {
	color: #fff;
	a {
		color: @color-dark-grey;
		padding: 15px;
		display: block;
		transition: all .25s;
		letter-spacing: 1.2;
		&:hover {
			color: #fff;
			background-color: @color-light-light-grey;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: left;
		text-transform: uppercase;
		li {
			display: inline-block;
		}
	}
}

.main_mnu_button {
	background-color: transparent;
	border: medium none;
	font-size: 26px;
	color: #fff;
	outline: none;
	padding: 8px 15px 0;
}

.main_mnu_button {
	cursor: pointer;
	padding: 15px;
}




// SLIIDER *****************




.slid {
	background: @color-dark-grey;
	min-height: 700px;
	display: flex;
    align-items: center;
}

.slider {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}


.scroll {
    cursor: pointer;

      img {
    	margin: 0 auto;
   		display: flex;
    }
}




// ABOUT ****************




.about {
	background: @color-light-white;
}

.heading {
	width: 70%;
	display: flex;
	flex-direction: column;
	margin: 70px auto;
    text-align: center;
	h2 {
		display: inline-table;
    	margin: 0 auto;
    	border-bottom: 3px solid @color-orange;	
	}
}

.sections {
	display: flex;
	margin: 0 0 100px 0;
}

.table-item {
    background: #ebebeb;
    padding: 20px;
    background: @color-medium-white;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    width: 33%;
    justify-content: space-between;
}

.table-item-wrap {
    display: flex;
    flex-direction: column;
}

.table-item-img {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    img {
    	max-width: 100%;
    }
}

.table-item-top {
    margin: 10px 0 0 0;
    text-align: center;
    h4 {
    	color: @color-light-grey;
    }
}



// VIDEO ************************




.video {
	background: @color-dark-blue;
}

.video-wrap {
	display: flex;
}

.video-text {
	display: flex;
	flex-direction: column;
    width: 40%;
    text-align: center;
    padding: 40px;
}

.button-red {
	border: none;
	font-family: "RobotoBold";
	background: @color-red;
    color: #fff;
    width: 150px;
    padding: 9px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    margin: 30px auto 0 auto;
    &:active {
    	box-shadow: 0px 8px 17px 0px #460202 inset;
    }
}

.video-content {
	display: flex;
    width: 60%;
    iframe {
    	width: 100%;
    }
}



// OUR WORKS *********************************




.our-works {
	background: @color-light-white;
}

.portfolio {
	display: flex;
	flex-direction: column;
}

.port-menu {
	display: flex;
	justify-content: center;
	margin: 0 0 30px 0;
	ul {
		display: flex;
		li {
			margin: 0 20px 0 0;
			cursor: pointer;	
		}
	}
}

.active {
	border-bottom: 1px solid @color-red;
	margin: -1px 20px 0 0; 
}

.portfolio-wrap {
	display: flex;
	flex-wrap: wrap
}

.portfolio_item {
	display: none;
	width: 25%;
	overflow: hidden;
	img {
		width: 100%;
		transition: .4s all;
		&:hover {
			transition: .4s all;
			transform: scale(1.1);
		}
	}
	&:hover {
		box-shadow: 0px 2px 40px -5px;
    	transition: .2s all;
		cursor: pointer;
	}
}


.portfolio_item {
	a {
		outline: none;
	}
}


// CLIENTS ***************************



.clients {
	background: @color-black;
}

.slider-2 {
	.slider;
	height: 120px;
	padding: 30px 10px;
}

.slider-2-img {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
	img {
		width: 45px;
		height: 45px;
	}
}

.slider-block {
	cursor: pointer;
}

.sm-img {
	img {
		margin: 5px auto 0 auto !important;
	}
	h4 {
		margin: 5px 0 0 0;
	}
}



// WHO WE ARE *******************



.who-we {
	background: @color-light-white;
}

.who-we-content {
	display: flex;
	padding: 0 0 60px 0;
}

.who-we-left {
	background: @color-medium-white;
	display: flex;
	flex-direction: column;
	width: 25%;
	text-align: center;
	padding: 30px;
	margin: 0 30px 0 0;
	h4 {
		color: @color-dark-grey;
		font-size: 18px;
	}
	img {
		max-width: 100%;
	}
}

.who-we-top-img {
    display: flex;
    justify-content: center;
}

.soc, .bullets {
	display: flex;
	justify-content: center;
	margin: 10px 0;
	img {
		margin: 0 5px;
		cursor: pointer;
	}
}

.who-we-right {
	background: @color-medium-white;
	display: flex;
	flex-direction: column;
	width: 75%;
	padding: 30px;
	overflow: hidden;
	h4 {
		color: @color-dark-grey;
		font-size: 18px;
	}
}


.who-we-list-item {
	display: flex;
	justify-content: space-between;
	margin: 15px 0 0 0;
	h4 {
		color: @color-dark-grey;
		font-size: 16px;
		margin: 0;
		width: 100%;
	}
	img {
		height: 2px;
    	margin: auto 80px auto 0px;
    	overflow: hidden;
    	width: 100%;
	}
}


// FEARUTER ********************


.features {
	background: @color-dark-blue;
	text-align: center;
}

.features-block {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
}

.features-head {
	margin: 40px 0 0 0;
	h1 {
		font-family: "RobotoCondensedRegular";
		font-size: 30px;
		margin: 20px 0 0 0;
	}
}

.table-item-top {
	h5 {
		margin: 20px 0 0 0;
		color: #fff;
	}
}

.features-item {
	padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    width: 17%;
    justify-content: space-between;
}



// BLOG POST ************************


.blog-post {
	background: @color-light-white;
	.table-item-top {
		text-align: left;
		h5 {
			color: @color-dark-grey;
		}
	}
	.table-item-img {
		height: auto;
		background: @color-medium-grey;
		
		img {
			width: 100%;
			opacity: 0;
    		transition: all .2s;
		}
		&:hover {
			img {
				width: 100%;
				opacity: 1;
    			transition: all .2s;
			}
		}
	}
}

.hover-buttons {
	cursor: pointer;
    position: absolute;
    a {
		outline: none;
    }
}

.table-item-botton-content {
	display: flex;
	justify-content: space-between;
}

.botton-content-left {
	display: flex;
	img {
		width: 100%;
	}
	cursor: pointer;
}

.botton-content-img {
	margin: 15px 5px 0 5px;
}

.botton-content-right {
    display: flex;
    cursor: pointer;
}



// PLAN *************************




.plan {
	background: @color-dark-blue;
	text-align: center;
}

.features-item {
		span {
			transition: all .2s;
		}
		p {
			color: #fff;
		}
	&:hover {
		border: 1px solid @color-orange;
		padding: 19px;
		span {
			color: @color-orange;
			transition: all .2s;
		}
	}
}

.table-item-plan {
	display: flex;
    flex-direction: column;
    color: #fff;
    h5 {
    	font-size: 30px;
    }
}
   

.table-item-top {
	span {
		font-family: "RobotoBold";
	}
}

.table-item-button {
	.button-red {
		background: @color-orange;
	}	
}



// IN TOUCH ******************************




.in-touch {
	background: @color-light-white;
}

.forms {
	display: flex;
	flex-direction: column;
	margin: 30px 0;
	h4 {
		color: @color-medium-grey;
		span {
			color: @color-orange;
		}
	}
	input {
		background: none;
   		border: none;
    	outline: none;
    	border-bottom: 1px solid #bbb;
    	padding: 30px 0 5px 10px;
    	font-size: 18px;
    	color: @color-medium-grey;
    	width: 100%;
	}
}

.forms-top {
	display: flex;

}

.forms-top-left {
	display: flex;
	width: 50%;
	flex-direction: column;
	margin: 0 100px 0 0;

}

.forms-top-right {
	display: flex;
	width: 50%;
	flex-direction: column;
}

.forms-bottom {
	display: flex;
	flex-direction: column;
}


.button-form {
	display: flex;
	margin: 0 0 40px 0;
}





// FOOTER ************************



.location {
	background: @color-black;
}

.locate {
	display: flex;
	justify-content: center;
    margin: 20px;
	h1 {
		font-family: "RobotoCondensedBold";
		font-size: 28px;
	}
}

.locate-img {
    margin: auto 10px;
}

.footer {
	background: @color-dark-blue;
}

.footer-content {
	display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
	color: #fff;
	margin: 40px 0;
	h3 {
		color: #fff;
	}
}

.footer-img {
    display: flex;
    justify-content: center;
}

.to-top {
	cursor: pointer;
}

