
// ************ TEXT **********************

@color-light-light-grey: #919191;
@color-light-grey: #696969;
@color-dark-grey: #353535;

@color-dark-white: #d6d5d5;



// ********** BACKGROUND *******************


@color-medium-grey: #787474;
@color-dark-grey: #353535;

@color-light-white: #f8f6f6;

@color-red: #e84c3d;

@color-orange: #f6744b;

@color-black: #0c1215;

@color-dark-blue: #171f23;

@color-medium-white: #ebebeb;
