* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff !important;
  background-image: url(../img/body-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
}
h1 {
  color: #fff;
  font-family: "Gotham-black";
  font-size: 20px;
}
h2 {
  color: #14b371;
  font-family: "Gotham-black";
  font-size: 28px;
}
h3 {
  color: #468d6a;
  font-family: "Gotham-black";
  font-size: 17px;
}
h4 {
  color: #fff;
  font-family: "Good-times";
  font-size: 14px;
  font-weight: normal;
}
p {
  color: #707070;
}
.wrapper {
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  height: 150px;
  background-color: #252525;
  background-image: url(../img/top-bg.png);
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 100px;
}
.logo a {
  display: flex;
  justify-content: center;
}
.main-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 100px 0 0;
}
.top-list {
  margin: 0 0 5px 0;
}
.top-list ul {
  display: flex;
}
.top-list ul li {
  color: #fff;
  margin: 0 0 0 25px;
}
.top-list ul li a {
  color: #fff;
  text-decoration: none;
}
.top-list ul .first {
  list-style: none;
}
.second-list {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0 25px 0;
}
.button button {
  border: none;
  background: -webkit-linear-gradient(bottom, #ffb600, #ffd500);
  background: -o-linear-gradient(bottom, #ffb600, #ffd500);
  background: linear-gradient(to top, #ffb600, #ffd500);
  color: #464646;
  padding: 9px 10px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
  outline: none;
}
.writing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 0 0;
}
.green-line {
  height: 20px;
  background: #089b5e;
  display: flex;
  flex-direction: column;
}
.top-menu {
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: -25px 0 0px 0;
}
.top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to top, #04965a, #22b679);
  font-family: Trebuchet MS;
  border-top-left-radius: 16px;
}
.top-menu li {
  float: left;
  text-transform: uppercase;
}
.dropdown-content {
  position: relative;
  z-index: 999;
}
.top-menu li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
}
.dropbtn {
  display: -webkit-inline-box;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
}
.top-menu li a:hover {
  color: #f3d25c;
}
li.dropdown {
  display: inline-block;
  color: #fff;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin: -2px 0 0 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background: #04965a;
  color: #fff;
}
a.last-a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-content a:hover {
  background-color: #22b679;
  color: #fff;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.second-menu {
  margin: 0 0 5px 0;
}
.second-menu ul {
  display: flex;
}
.second-menu ul li {
  color: #898989;
  margin: 0 0 0 25px;
}
.second-menu ul li a {
  color: #898989;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px;
}
.second-menu ul .first {
  list-style: none;
}
.content {
  display: flex;
  background-color: #fff;
  margin: 0 0 30px 0;
}
.left-col {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.toggle-navigation h1 {
  color: #636363;
  margin: 10px 0;
}
.accordion {
  background-color: #f9f9f9;
  border-radius: 10px;
}
.accordion__item {
  width: 100%;
  border-top: 1px solid #fff;
}
.accordion__item:first-child {
  border: none;
}
.accordion__trigger {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #6ec79d;
  background-color: #fff;
  border: none;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  background-image: url(../img/menu-arrow.png);
  background-repeat: no-repeat;
  background-position: 95%;
  margin: 5px 15px 0 0;
  border-radius: 10px;
}
.accordion__item.is-open .accordion__trigger {
  color: #a5a5a5;
  background-color: #fff;
  background-image: url(../img/arrow-down.png);
  background-repeat: no-repeat;
  background-position: 95%;
}
.accordion__content {
  background-color: #fff;
}
.accordion__content p {
  margin: 0;
  padding: 5px 5px 0px 15px;
  color: #6ec79d;
  font-size: 15px;
}
.accordion__content p:hover {
  color: #2b2b2b;
  cursor: pointer;
}
ul.accordion {
  padding: 0 20px;
}
.left-info {
  margin: 20px 0 0 20px;
}
.info-header {
  display: flex;
}
.info-content {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 10px;
}
.info-content a {
  color: #33b97d;
}
.strong {
  color: #5f5f5f;
  font-weight: bold;
}
.left-sidebar {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 20px;
}
.left-sidebar h1 {
  color: #898989;
  margin: 0 0 20px 0;
}
.right-col {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.right-col .right-sidebar {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
  background-color: #ebebeb;
  border-radius: 10px;
  margin: 20px;
  justify-content: flex-start;
}
.right-col .right-sidebar h1 {
  color: #898989;
  margin: 0 0 20px 0;
}
.content-block {
  display: flex;
  margin: 10px 20px;
}
.text-content-right {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.text-content-right p {
  font-size: 18px;
  margin: 0 10px 10px 0;
  width: 90%;
}
.text-content-right a {
  color: #33b97d;
}
.text-content-right h3 {
  margin: 0 0 20px 0;
  font-size: 22px;
}
.nig {
  margin: 0 40px 0 0;
}
.persons {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 80%;
}
.images img {
  margin: 10px;
}
.divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.divs a {
  color: #33b97d;
  text-align: center;
}
footer {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: #252525;
  background-image: url(../img/top-bg.png);
  justify-content: flex-start;
}
.foot-1 {
  margin: 15px 0 0 0;
}
.foot-1 a:hover {
  color: #ffbd00;
}
.foot-2 {
  margin: 10px 0 0 60px;
}
.foot-2 p {
  color: #fff;
  font-size: 14px;
}
