// COLORS
// **************

@color-body-top: #d6d6d6;
@color-body-bottom: linear-gradient(to top, #627364, #465648);
@color-header: #eaeaea;
@color-button: linear-gradient(to top, #6d2c08, #c15415);
@color-brown: #774520;
@color-main-white-gradient: linear-gradient(to top, #e5e5e5, #ffffff);
@color-main-white: #f9fafb; 