* {
	margin: 0;
	padding: 0;
}

// COLORS
// **************


@color-body-top: #d6d6d6;
@color-body-bottom: linear-gradient(to top, #627364, #465648);
@color-header: #eaeaea;
@color-button: linear-gradient(to top, #6d2c08, #c15415);
@color-brown: #774520;
@color-main-white-gradient: linear-gradient(to top, #e5e5e5, #ffffff);
@color-main-white: #f9fafb;
@color-menu-gradient: linear-gradient(to right, #6d686f, #d6d4d6);

//@import "variables.less";


// GENERAL STYLES
// **************

body {
	background-color: #627364;
	background-image: url(../img/bottom-pic.png);
	background-position: center bottom;
}

p, h2, a, button, input {
	font-family: Arial;
}

h1 {
	font-family: Georgia;
	font-size: 26px;
    font-weight: normal;
}

h2 {
	font-size: 20px;
	font-weight: normal;
}

h3 {
	font-size: 14px;
	color: #964415;
	cursor: pointer;
}

.wrapper {
	width: 1180px;
	margin: 0 auto;
}

.top-fon {
    background-color: #d6d6d6;
    background-image: url(../img/left-pic.png), url(../img/right-pic.png);
    background-position: 50% top;
    background-repeat: no-repeat;
}

.flexslider {	
	 margin: 0 auto;
	img {
		margin: -20px auto;
    	display: block;
	}
}

header {
	height: 100px;
	background: @color-header;
	opacity: .9;
	margin-bottom: -100px;
}

.head-info {
	display: inline-block;
}

.head-left {
	float: left;
	display: inline-block;
	position: absolute;
	margin: 20px 120px;
}

.head-right {
	float: right;
	display: inline-block;
	position: absolute;
	margin: 32px 100px 40px 500px;
}

.autorization {
	float: left;
	display: inline-block;
	margin: -5px 10px 0 0;
	li {
		display: inline-block;	
		border-right: 1px solid #505050;
	}
	.last {
		border: none;
	}
	a {
		margin-right: 5px; 
		color: @color-brown;
	}
}

.search {
	display: inline-block;
	float: right;
	input {
		display: inline-block;
    	padding: 10px 10px;
    	border: none;
    	font-size: 15px;
    	margin: -10px 0;
    	box-shadow: inset 5px 5px 17px -11px rgba(77,77,77,1);
	}
	button {
	    display: inline-block;
	    border: none;
	    background: -webkit-linear-gradient(bottom, #6d2c08, #c15415);
	    background: -o-linear-gradient(bottom, #6d2c08, #c15415);
	    background: linear-gradient(to top, #6d2c08, #c15415);
	    color: #fff;
	    padding: 9px 10px;
	    text-align: center;
	    cursor: pointer;
	    font-size: 16px;
		margin-left: -5px;
	}
}

.content-wrapper {
	width: 960px;;
	margin: 0 auto;
//	background: @color-body-bottom !important;
}

.main-body {
	margin-top: -20px;
    position: relative;
    background: @color-main-white-gradient;
    box-shadow: 0px 3px 33px 2px #4f5c50;

}

.main-left {
	display: inline-block;
}

.main-center {
	display: inline-block;
}

.main-right {
	background: @color-main-white;
	display: inline-block;
}


// MENU ********************


.drop_vert_menu {
    list-style-type: none; 
    width: 198px;
    margin: 0; 
    padding: 0;
 }
 
.drop_vert_menu  ul {
    list-style-type: none; 
    width: 180px;
    margin: 0; 
    padding: 0; 
}
.drop_vert_menu > li{
 	position: relative; 
 	padding:10px 0px 10px 16px;
}

.drop_vert_menu > li:hover {
	//background: @color-menu-gradient;
	background-image: @color-menu-gradient, url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: 75% 50%;
	cursor: pointer;
	a {
		color: #fff;
	}
}


	.drop_vert_menu:after {
		background-image: url(../img/arrow.png);
		background-repeat: no-repeat;
		background-position: 75% 50%;
	}

.drop_vert_menu > li > a{
 	font-size:18px;
 	color: @color-brown;
 	text-decoration:none;
}


.drop_vert_menu > li > a:hover{
 	color: #fff;
}


  .drop_vert_menu li ul {
    position: absolute; 
    display: none; 
    top: 2px; 
    left: 195px; 
 }

 .drop_vert_menu li:hover ul {
  	display: block; 
 }

.drop_vert_menu li ul li{
 	text-align: left;
 	background: @color-menu-gradient;
 	padding: 8px 0px 8px 10px;
}

.drop_vert_menu li ul li:hover {
  	background: #48424a;
}

.drop_vert_menu li ul li a{
  	font-size:14px;
  	color: #fff;
  	text-decoration:none;
}

.drop_vert_menu li ul li a:hover{
  	font-size: 14px;
  	color: #fff;
  	text-decoration:none;
}


.col-men {
	width: 20%;
	vertical-align: top;
}

.col-cent {
	width: 43%;
	padding: 0 30px;
	border-right: 2px solid #d6d6d6;
	border-left: 2px solid #d6d6d6;
}

.col-right {
	width: 27%;
	vertical-align: top;
	> h3 {
		text-align: center;
		margin: 20px 0;
	}
}

.main-center {
		h1, h2, h3  {
		    margin: 15px;
	}
}

.more-info {
	padding: 20px;
	border: 2px solid #d6d6d6;
	display: table;
    margin: 0 15px 30px 15px;
}

.button-more-info {
	padding: 5px 20px;
	text-transform: uppercase;
	font-size: 16px;
	background: linear-gradient(to top, #aa8c56, #ddb670);
	border: none;
	cursor: pointer;
	color: #fff;
}

.side-tab {
	display: flex;
	.pic {
		display: inline-block;
		float: left;
		img {
			border: 2px solid #d6d6d6;
			margin: 10px;
		}
	}
	.text-pic {
		display: inline-block;
		float: right;
		h3 {
			margin: 10px 10px 5px 5px;
		}
		p {
			color: #787878;
			margin: 0 0 10px 5px;
		}
	}
}


// FOOTER **********************************

footer {
	position: relative;
	bottom: 0;
	background: linear-gradient(to top, #d0d5ce, #c2c4b0);
	margin-top: 20px; 
	h1 {
		padding: 20px 0 0 20px;
	}
}

.bottom-menu {
	border-bottom: 1px solid #c6c9b8;
	margin-bottom: 15px; 
}

.tabs-bottom {
	display: inline-block;
	margin: 20px 20px;
	vertical-align: text-top;
	font-size: 14px;
	h3 {
		color: #fff !important;
		font-size: 18px;
	}
	ul {
		background: none;
	}
	li {	
		list-style: none;
		a {
			color: #6e6f62 !important;
			text-decoration: none;
		}
	}
}


.last {
	color: #fff;
	text-align: center;
	margin: 15px 0 100px 0;
}
