/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1150px) {
	.robert, .last {
		display: none;
	}

	.top-carousel {
    	margin: 175px 0 0 0;
	}

	.wrapper, .wrapper-menu {
		max-width: 950px;
	}

	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 880px) {
	
	.wrapper, .wrapper-menu {
		max-width: 700px;
	}

	.main-imager-right {
		display: none;
	}
	
	.top-carousel {
	   max-width: 600px;
	}

	.bg-scroller {
		overflow: hidden;
	}
	
	.scroller-item {
		display: table;
	}

	.main-imager {
		justify-content: center;
	}

	.next-content {
		flex-direction: column;
	}

	.left-col, .right-col {
		width: 100%;
	}

	.last {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 700px) {

	.wrapper, .wrapper-menu {
		max-width: 500px;
	}

	footer {
		height: auto;
	}

.bottom-imager {
	max-width: 480px;
}

	.maian_mnu ul {
		background-color: #f8f6f6;
		display: none;
		position: absolute;
		width: 100%;
		display: flex;
		flex-direction: column;
		left: 0;
	}
	.maian_mnu ul li {
		display: block;
	}

	.main_mnu_button {
		display: block;
		margin: 10px 50px 0 0;
		z-index: 999;
	}

	header {
		justify-content: center;
		flex-direction: column;
		height: 350px;
	}

	.logo {
		display: block;
    	text-align: center;
    	    margin: 30px 0 0 0;
	}

	.main-nav, .top-list{
		display: block;
		margin: 10px auto;
	}

	.second-list {
		flex-direction: column;
		justify-content: center;
	}
	.writing {
		text-align: center;
	}

	.button {
		margin: 20px auto;
	}

	.top-list ul {
		display: block;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 570px) {

.wrapper, .wrapper-menu {
		max-width: 400px;
	}

.bottom-imager {
	max-width: 380px;
}

.cities-content-item {
	flex-direction: column;
}

.cities-content-item img {
	margin: 0 0 10px 0;
}

.right-col-head-wrapper {
	justify-content: center;
	margin: 10px 0 0 0;
}

.carousel__content-left {
	align-items: center;
}

.carousel__content-left img {
	max-height: 100px;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}